{{ include "/header.html" "A New Orleans Thing" }}
<span class="h-entry">
<h1 id="title" class="p-title">A New Orleans Thing</h1>
<aside><p id="info">546 words, a <time>3&#160;minute</time> read | Made Saturday, Apr 30, 2022</p></aside>
<article class="e-content"><p>A Wednesday-Monday blog post.</p>
<h2 id="wednesday">Wednesday</h2>
<h3 id="1730-denver-time">17:30, Denver time</h3>
<p>Hello! It’s me. Sitting in my comfy chair, after updating some help pages, I’m planning on what to pack. I won’t be coming back here tomorrow after school so I’m getting my last computer work finished. Not much here. Until later!</p>
<h2 id="thursday">Thursday</h2>
<h3 id="0715">07:15</h3>
<p>I’m getting my stuff into a bag, and having Thai tea. Nothing much…</p>
<h3 id="0850">08:50</h3>
<p>I’m in school, first period. Normal, except I’m not carrying a backpack; rather a laptop bag.</p>
<h3 id="1100">11:00</h3>
<p>Still in math, with the laptop bag. It’s all just a normal day&hellip;</p>
<h3 id="1330">13:30</h3>
<p>In orchestra, in 30 minutes I’ll be going to the airport. Exciting.</p>
<h3 id="1445">14:45</h3>
<p>I’m on the way to the airport: the hotel looks pretty.</p>
<h3 id="1505">15:05</h3>
<p>Ugh, security. I’ve been walking for 3 whole minutes through this thing. And that’s not even all of it&hellip;</p>
<h3 id="1545">15:45</h3>
<p>Eating Chinese food is nice. Too bad my flight’s boarding soon.</p>
<h3 id="1640">16:40</h3>
<p>Still waiting for the flight, ugh. When will it leave?</p>
<h3 id="1730">17:30</h3>
<p>Last little bits- the plane’s leaving now! So exciting.</p>
<h3 id="1755">17:55</h3>
<p>Oh hey. It’s me, again. Thanks for staying. I’m listening to my music while writing this, and hope to read my feeds too. Peace.</p>
<h3 id="1930">19:30</h3>
<p>Landing time!!!!</p>
<h2 id="friday">Friday</h2>
<h3 id="0820-new-orleans-time">08:20 New Orleans time</h3>
<p>Hi. Yesterday we went through getting a rental car and coming to the house. I fell asleep immediately after. So here I am, this morning. Hi.</p>
<h3 id="0930">09:30</h3>
<p>I just had a granita at PJ’s coffee- it was <em>very</em> nice!</p>
<h3 id="1130">11:30</h3>
<p>After the coffee shop, we walked around. I got a Ukrainian model set from <a href="https://ugearsmodels.com">Ugears</a>, and an old cat meme book. I also took pictures along the way. That’s it for now.</p>
<h3 id="1715">17:15</h3>
<p>I did a lot. After that, we:</p>
<ul>
<li>Went back to the house</li>
<li>Had lunch with friends</li>
<li>Walked around Tulane</li>
</ul>
<p>That takes a sizeable time to do.</p>
<h2 id="saturday">Saturday</h2>
<h3 id="0010">00:10</h3>
<p>While I was gone, I did karate, then went to a piza place. Then, to my friend’s home where I stayed for 2 hours. Then back home for midnight.</p>
<h3 id="1725">17:25</h3>
<p>I woke up, and went to the coffee shop. Then, I went to karate early. We went home, then to lunch at the St. Patrick’s parade, where we got lots of beads. Then, we went to Hansen’s Snow Bliz and got some stuff, which I’m still eating.</p>
<h2 id="sunday">Sunday</h2>
<h3 id="1215-new-orleans-daylight-time">12:15, New Orleans Daylight time</h3>
<p>I didn’t write about a lot here: sorry! There’s so much happening I have no time to write about it. We went to dinner at Atchafalaya, and then to the same friend’s home. We went to bed, woke up, packed, then went to the coffee shop and we’re going to Oak Alley plantation.</p>
<h3 id="1845">18:45</h3>
<p>The plantation was nice; we came back to Uptown, and are walking in Audobon Park now.</p>
<h3 id="2300">23:00</h3>
<p>Plane’s leaving&hellip; after a loooong time.</p>
<h2 id="monday">Monday</h2>
<h3 id="0150-denver-daylight-time">01:50 Denver Daylight time</h3>
<p>You know that comfy chair? I’m back in it. My trip’s over&hellip; but jetlag isn’t. Notice the really late time? I have to wake up early for school. Fun times.</p>
<h3 id="1930-1">19:30</h3>
<p>I woke up too late to go to school, so I stayed home. I also assembled the Ugears thing. Today was nice.</p>
<p>That’s it for this post, I hope you enjoyed my (very small) compilation of things I did in New Orleans. Peace!</p></article>
<hr>
<aside aria-labelledby="continuereading">
	<nav aria-labelledby="continuereading">
		<h2 id="continuereading">Continue Reading</h2>
		<ul>
			<li><a href="/blog/on-font-imports.html" rel="next">Next post: On Font Imports</a></li>
			<li><a href="/blog">Back to Blog</a></li>
	</nav>
</aside>
</span>
{{ include "/footer.html" "a-new-orleans-thing" }}