{{ include "/header.html" "Caddy Starting Guide" }}
<span class="h-entry">
<h1 id="title" class="p-title">Caddy Starting Guide</h1>
<aside><p id="info">403 words, a <time>2&#160;minute</time> read | Made Friday, May 20, 2022</p></aside>
<article class="e-content"><p>So, you want to get started with making a website. You’ve got a shiny new cloud server, and your blog and website figured out, but what from here? Well…</p>
<h2 id="install-caddy">Install Caddy</h2>
<p>The <a class="h-entry p-name u-url" href="https://caddyserver.com">Caddy server</a> makes websites a cinch. All you need is a domain, Caddy, simple command line knowledge, and something to serve. So, let’s get started! First, install it. Make sure you have an SSH session into your server, then run the commands:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span><span style="color:#75715e"># On Debian/Ubuntu</span>
</span></span><span style="display:flex;"><span>sudo apt install caddy -y
</span></span><span style="display:flex;"><span><span style="color:#75715e"># On Fedora</span>
</span></span><span style="display:flex;"><span>sudo dnf install caddy -y
</span></span><span style="display:flex;"><span><span style="color:#75715e"># On all 3</span>
</span></span><span style="display:flex;"><span>sudo systemctl stop caddy
</span></span></code></pre></div><p>This will install Caddy on your server, and allow it to be configured. Hooray!</p>
<h2 id="basic-caddy-commands">Basic Caddy Commands</h2>
<p>Most of the commands you’ll need to know are the following:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span><span style="color:#75715e"># starts Caddy with the Caddyfile in the current directory</span>
</span></span><span style="display:flex;"><span>caddy start
</span></span><span style="display:flex;"><span><span style="color:#75715e"># stops Caddy</span>
</span></span><span style="display:flex;"><span>caddy stop
</span></span><span style="display:flex;"><span><span style="color:#75715e"># applies new config</span>
</span></span><span style="display:flex;"><span>caddy reload
</span></span><span style="display:flex;"><span><span style="color:#75715e"># formats the Caddyfile</span>
</span></span><span style="display:flex;"><span>caddy fmt --overwrite
</span></span><span style="display:flex;"><span><span style="color:#75715e"># makes a password</span>
</span></span><span style="display:flex;"><span>caddy hash-password --plaintext <span style="color:#e6db74">&#34;AGoodPassword&#34;</span>
</span></span></code></pre></div><p>These are the primary ones we’ll use.</p>
<h2 id="serve-some-files">Serve some files!</h2>
<p>To serve some files, go to your <code>/root</code> directory and make a file called <code>Caddyfile</code> with the contents:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-plain" data-lang="plain"><span style="display:flex;"><span>caddy.aroace.space {
</span></span><span style="display:flex;"><span>	encode zstd gzip
</span></span><span style="display:flex;"><span>	root * /root/webthing
</span></span><span style="display:flex;"><span>	file_server
</span></span><span style="display:flex;"><span>}
</span></span></code></pre></div><p>Then, replace <code>caddy.aroace.space</code> with your domain, make sure you have A and AAAA records pointed at your server from that domain, then run <code>caddy start</code>. You now have a simple static site serving from <code>/root/webthing</code> running, with HTTPS and security!</p>
<h3 id="line-by-line-analysis">Line-by-line analysis</h3>
<h4 id="caddyaroacespace-"><code>caddy.aroace.space {</code></h4>
<p>This line defines what config to use for this domain.</p>
<h4 id="encode-zstd-gzip"><code>encode zstd gzip</code></h4>
<p>Compresses responses with Zstandard, and if that’s not supported then GZip.</p>
<h4 id="root--rootwebthing"><code>root * /root/webthing</code></h4>
<p>Sets where to base the file server off.</p>
<h4 id="file_server"><code>file_server</code></h4>
<p>Like it says.</p>
<h2 id="make-it-faster">Make it faster!</h2>
<p>Modify your <code>Caddyfile</code> as below:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-diff" data-lang="diff"><span style="display:flex;"><span><span style="color:#a6e22e">+ {
</span></span></span><span style="display:flex;"><span><span style="color:#a6e22e">+	servers {
</span></span></span><span style="display:flex;"><span><span style="color:#a6e22e">+		protocol {
</span></span></span><span style="display:flex;"><span><span style="color:#a6e22e">+			experimental_http3
</span></span></span><span style="display:flex;"><span><span style="color:#a6e22e">+		}
</span></span></span><span style="display:flex;"><span><span style="color:#a6e22e">+	}
</span></span></span><span style="display:flex;"><span><span style="color:#a6e22e">+ }
</span></span></span><span style="display:flex;"><span><span style="color:#a6e22e"></span>caddy.aroace.space {
</span></span><span style="display:flex;"><span>	encode zstd gzip
</span></span><span style="display:flex;"><span><span style="color:#a6e22e">+	header {
</span></span></span><span style="display:flex;"><span><span style="color:#a6e22e">+		Cache-Control &#34;max-age=604800, stale-if-error=2419200&#34;
</span></span></span><span style="display:flex;"><span><span style="color:#a6e22e">+		Strict-Transport-Security max-age=31536000
</span></span></span><span style="display:flex;"><span><span style="color:#a6e22e">+	}
</span></span></span><span style="display:flex;"><span><span style="color:#a6e22e">+	header *.html Cache-Control &#34;max-age=600, stale-if-error=2419200&#34;
</span></span></span><span style="display:flex;"><span><span style="color:#a6e22e">+	header *.css Cache-Control &#34;max-age=600, stale-if-error=2419200&#34;
</span></span></span><span style="display:flex;"><span><span style="color:#a6e22e"></span>	root * /root/webthing
</span></span><span style="display:flex;"><span>	file_server
</span></span><span style="display:flex;"><span>}
</span></span></code></pre></div><p>this will allow your website to be more secure, and not waste users’ bandwidth. in a nutshell:</p>
<ul>
<li>enable a new quicker connection that drops less</li>
<li>cache files so that not as many connections are made</li>
<li>cache html and css for less long</li>
<li>make the website more secure</li>
</ul>
<p>yea, that’s mostly it for now. check this page for updates soon! :)</p>
</article>
<hr>
<aside aria-labelledby="continuereading">
	<nav aria-labelledby="continuereading">
		<h2 id="continuereading">Continue Reading</h2>
		<ul>
			<li><a href="/blog/making-hugo-blog.html" rel="prev">Previous post: Making a Hugo Blog</a></li>
			<li><a href="/blog/site-review-spec.html" rel="next">Next post: My Site Review Specification</a></li>
			<li><a href="/blog">Back to Blog</a></li>
	</nav>
</aside>
</span>
{{ include "/footer.html" "caddy-starting-guide" }}