{{ include "/header.html" "Make a Server for You and your Friends" }}
<span class="h-entry">
<h1 id="title" class="p-title">Make a Server for You and your Friends</h1>
<aside><p id="info">1239 words, a <time>6&#160;minute</time> read | Made Thursday, May 5, 2022</p></aside>
<article class="e-content"><h3 id="this-article-is-very-much-work-in-progress"><em>This article is very much work-in-progress!</em></h3>
<p>Making a server for you and your friends is very easy if you have some tech knowledge. I’ll outline it below.</p>
<h2 id="time-to-get-a-domain">Time to get a Domain</h2>
<p>There are many, many domain providers. For this guide I’ll be using <a class="h-entry p-name u-url" href="https://namecheap.com">Namecheap</a>. First, you click that link (the word <em>Namecheap</em>) and visit the site. There’s a big search bar in the middle: start typing in your domain there. You can do anything here. You could do your name (<code>johnappleseed</code>), an online username (<code>parzival</code>), or anything. Then, click the <em>Search</em> button.</p>
<p>Lots of results will come up, and there will be 5 highlighted. You can add one of those to the card, or scroll and find more. You can also type a specific domain ending (<code>.cc</code>, <code>.co.uk</code>, <code>.online</code>) into the search bar after your site name and it will highlight that. Keep searching until you find a domain, then checkout. This guide will assume you bought the domain <code>parzival.dev</code>.</p>
<h2 id="time-to-move-dns">Time to move DNS</h2>
<p>Using DigitalOcean for your DNS makes things simpler when you have a domain. DNS is what makes it so that websites load on your computer/phone.</p>
<p>First, go to <a class="h-entry p-name u-url" href="https://digitalocean.com">DigitalOcean</a> and make an account, and complete setup. You should have a dashboard. In this dashboard, there’s a sidebar; in that sidebar, click <em>Networking</em> and then in the page that loads click <em>Domains</em>. You will have a project selected and a text box to type your domain. Type the domain and click &ldquo;Add&rdquo;. Then, in Namecheap, go to <a class="h-entry p-name u-url" href="https://ap.www.namecheap.com/">the dashboard</a> then click <em>Manage</em> next to your domain. In the dropdown next to <em>Nameservers</em>, select <em>Custom DNS</em> and add these domains:</p>
<pre tabindex="0"><code>ns1.digitalocean.com
ns2.digitalocean.com
ns3.digitalocean.com
</code></pre><p>Then save it. Now, in DigitalOcean, click the domain name to go to its dashboard: click the <code>NS</code> tab. Now, add the following:</p>
<pre tabindex="0"><code>Hostname | Will direct to
@        | ns1.digitalocean.com
@        | ns2.digitalocean.com
@        | ns3.digitalocean.com
</code></pre><p>Don’t touch if it they already exist. And, you have moved the control to DigitalOcean, which is referenced later in this guide. <em>Keep this tab open, or know how to access it!</em></p>
<h2 id="time-to-get-the-droplet">Time to get the Droplet</h2>
<p>In DigitalOcean again, there’s a top bar. Click <em>Create</em> and in the dropdown <em>Droplets</em>. Leave the options be, except:</p>
<ul>
<li>In <em>CPU Options</em>, click <em>Basic</em> and then the cheapest option.</li>
<li>Choose a <em>Datacenter Region</em> you like.</li>
<li>Add a <em>Password</em> in.
<ul>
<li><strong>DO</strong> <em><strong>NOT</strong></em> forget this password! You will lose droplet access.</li>
</ul>
</li>
<li>Enable <em>IPv6</em> and <em>Monitoring</em> in <em>Additional Options</em></li>
<li>Choose a &ldquo;hostname&rdquo; for your Droplet</li>
</ul>
<p>Then click create, and it should be made for you. Now, in the sidebar, click <em>Billing</em> and add in your payment info. Congrats, you have a DigitalOcean Droplet ready to run software!</p>
<h2 id="time-to-install-requirements">Time to install Requirements</h2>
<p>Click on the Droplet name in your Project, which is what loads by default in the DigitalOcean dashboard. Then, click <em>Console</em> and a new web tab should launch, putting you in a terminal. In this terminal, copy and paste (with <code>Ctrl + Shift + V</code>) the following:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span>apt update
</span></span><span style="display:flex;"><span>apt upgrade
</span></span><span style="display:flex;"><span>apt install caddy cargo postgresql docker docker-compose -y
</span></span><span style="display:flex;"><span>systemctl stop caddy.service
</span></span></code></pre></div><p>You should now have the Requirements installed to run a server with Libreddit, WriteFreely, and Bin.</p>
<h2 id="time-to-get-writefreely">Time to get WriteFreely</h2>
<p>WriteFreely is a great blogging service. If you are reading this, chances are it’s on WriteFreely. It is very simple to install. According to the <a class="h-entry p-name u-url" href="https://writefreely.org/start">WriteFreely installation directions</a>, it is simple. Here’s what I reccomend.</p>
<h3 id="time-to-setup">Time to Setup</h3>
<p>Click <a class="h-entry p-name u-url" href="https://github.com/writefreely/writefreely/releases/latest">here</a>, and copy the link to the one that says <code>writefreely_{version number}_linux_amd64.tar.gz</code>. Then, in that command line:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span>curl -Lo writefreely.tar.gz <span style="color:#f92672">{</span>link here<span style="color:#f92672">}</span> <span style="color:#f92672">&amp;&amp;</span> tar -xf writefreely.tar.gz <span style="color:#f92672">&amp;&amp;</span> cd writefreely <span style="color:#f92672">&amp;&amp;</span> ./writefreely config start
</span></span></code></pre></div><p>For <strong>Environment</strong>, choose <strong>Production, behind reverse proxy</strong>. Then, go through the setup and choose a subdomain for your WriteFreely to live on. <em>This can’t be changed</em>. Examples can be, with domain <code>parzival.dev</code>:</p>
<pre tabindex="0"><code>blog.parzival.dev
wf.parzival.dev
write.parzival.dev
</code></pre><p>Any, as long as they are not the top-level domain <code>parzival.dev</code> for example. Unless you’re feeling confident you won’t put anything else there. Continue selecting values you like, except:</p>
<ul>
<li>Set <em>Port</em> to 499.</li>
<li>Choose <em>Multi-user instance</em> when prompted.</li>
<li>Use SQLite for the database and the default <code>writefreely.db</code> file.</li>
<li>Disable <em>Open signups</em>.</li>
</ul>
<p>You should be good now! Paste in:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span>./writefreely keys generate
</span></span><span style="display:flex;"><span>./writefreely &amp;
</span></span><span style="display:flex;"><span>cd ..
</span></span><span style="display:flex;"><span>touch Caddyfile
</span></span></code></pre></div><p>WriteFreely is running now, yay! Now, it’s time to allow the world to see it. You now want to paste in:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span>nano Caddyfile
</span></span></code></pre></div><p>And a text editor will launch. Copy and paste this in:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-plain" data-lang="plain"><span style="display:flex;"><span>blog.parzival.dev {
</span></span><span style="display:flex;"><span>    encode zstd gzip
</span></span><span style="display:flex;"><span>    reverse_proxy localhost:499
</span></span><span style="display:flex;"><span>}
</span></span></code></pre></div><p>Change <code>blog.parzival.dev</code> to your domain you put in the configuration earlier. Now, go to the DigitalOcean DNS control panel, and go to the <code>A</code> tab. In it, put in the subdomain (<code>blog</code> of <code>blog.parzival.dev</code>) in the name field, in the IP field select your droplet, and then click <em>Create</em>. Repeat in the <code>AAAA</code> tab. Now, return to the console, and type:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span>caddy run &amp;
</span></span></code></pre></div><p>Now, visit your subdomain. It should have WriteFreely on it! There’s one last thing to do though- create the admin. It’s easy, just do this:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span>cd writefreely <span style="color:#f92672">&amp;&amp;</span> ./writefreely --create-admin <span style="color:#f92672">{</span>username<span style="color:#f92672">}</span>:<span style="color:#f92672">{</span>password<span style="color:#f92672">}</span> <span style="color:#f92672">&amp;&amp;</span> cd ..
</span></span></code></pre></div><p>Replace {username} and {password} with your username and password. Then, your WriteFreely should be running and configurable!</p>
<h2 id="time-to-get-libreddit">Time to get Libreddit</h2>
<p>Libreddit allows you to see things from Reddit easily. First, run this command:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span>cargo install libreddit
</span></span></code></pre></div><p>This command should take a long time. Then, run</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span>export <span style="color:#f92672">{</span>VARNAME<span style="color:#f92672">)={</span>value<span style="color:#f92672">}</span>
</span></span></code></pre></div><p>where <code>{VARNAME}</code> is the variable name and <code>{value}</code> is the value, both from <a href="https://github.com/spikecodes/libreddit#change-default-settings">here</a>. Finally, run</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span>export PATH<span style="color:#f92672">=</span>/root/.cargo/bin:$PATH
</span></span><span style="display:flex;"><span>libreddit &amp;
</span></span></code></pre></div><p>Libreddit is now running. Again, run <code>nano Caddyfile</code> and put at the end:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-plain" data-lang="plain"><span style="display:flex;"><span>libreddit.parzival.dev {
</span></span><span style="display:flex;"><span>    encode zstd gzip
</span></span><span style="display:flex;"><span>    reverse_proxy localhost:8080
</span></span><span style="display:flex;"><span>}
</span></span></code></pre></div><p>Replace <code>libreddit.parzival.dev</code> with a subdomain of your domain as explained earlier that you want it to be under. You can change this one later. Now, go to the DigitalOcean DNS control panel and do the steps in the WriteFreely guide, except with your libreddit subdomain. Finally, run</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span>caddy reload
</span></span></code></pre></div><p>and your Libreddit should be running!</p>
<h2 id="time-to-get-bin">Time to get Bin</h2>
<p>Bin is a simple pastebin that you can use to host your content. It is very easy to install. To install it, run these commands:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span>touch docker-compose.yml
</span></span><span style="display:flex;"><span>nano docker-compose.yml
</span></span></code></pre></div><p>Then, copy this in:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-yaml" data-lang="yaml"><span style="display:flex;"><span><span style="color:#f92672">version</span>: <span style="color:#e6db74">&#39;3.3&#39;</span>
</span></span><span style="display:flex;"><span><span style="color:#f92672">services</span>:
</span></span><span style="display:flex;"><span>  <span style="color:#f92672">pastebin</span>:
</span></span><span style="display:flex;"><span>    <span style="color:#f92672">image</span>: <span style="color:#ae81ff">wantguns/bin</span>
</span></span><span style="display:flex;"><span>    <span style="color:#f92672">container_name</span>: <span style="color:#ae81ff">pastebin</span>
</span></span><span style="display:flex;"><span>    <span style="color:#f92672">ports</span>:
</span></span><span style="display:flex;"><span>      - <span style="color:#ae81ff">127.0.0.1</span>:<span style="color:#ae81ff">6163</span>:<span style="color:#ae81ff">6163</span>
</span></span><span style="display:flex;"><span>    <span style="color:#f92672">environment</span>:
</span></span><span style="display:flex;"><span>      - <span style="color:#ae81ff">BIN_PORT=6163</span>
</span></span><span style="display:flex;"><span>      - <span style="color:#ae81ff">BIN_LIMITS={form=&#34;10 MiB&#34;}</span>
</span></span><span style="display:flex;"><span>      - <span style="color:#ae81ff">BIN_CLIENT_DESC=&#34;Bin&#34;</span>
</span></span><span style="display:flex;"><span>    <span style="color:#f92672">volumes</span>:
</span></span><span style="display:flex;"><span>      - <span style="color:#ae81ff">./upload:/upload</span>
</span></span></code></pre></div><p>You may want to change <code>10 MiB</code> to be larger in size. Then, when you’re done, press Ctrl+X, Y, and Enter. Finally, run:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span>docker-compose up -d
</span></span><span style="display:flex;"><span>nano Caddyfile
</span></span></code></pre></div><p>and add</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-plain" data-lang="plain"><span style="display:flex;"><span>bin.parzival.dev {
</span></span><span style="display:flex;"><span>    encode zstd gzip
</span></span><span style="display:flex;"><span>    reverse_proxy localhost:6163
</span></span><span style="display:flex;"><span>}
</span></span></code></pre></div><p>to it, replacing <code>paste.parzival.dev</code> with a subdomain of your choice (that can be changed later), and exit with Ctrl+X, Y, and Enter. Now, navigate into your DigitalOcean DNS console and do the steps in the WriteFreely guide, except with your bin subdomain. Finally, navigate back to your console and type</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span>caddy reload
</span></span></code></pre></div><p>and you should have a shiny new pastebin!</p>
<h3 id="how-to-limit-pasting">How to limit Pasting?</h3>
<p>To limit it you need to put authentication on it. This is easy. Simply run</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span>caddy hash-password --plaintext <span style="color:#e6db74">&#34;good password here&#34;</span>
</span></span></code></pre></div><p>replacing <code>good password here</code> with your preferred password, and copy the output. Then, run <code>nano Caddyfile</code> again and replace your bin configuration with:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-plain" data-lang="plain"><span style="display:flex;"><span>bin.parzival.dev {
</span></span><span style="display:flex;"><span>    encode zstd gzip
</span></span><span style="display:flex;"><span>    basicauth / {
</span></span><span style="display:flex;"><span>        user password
</span></span><span style="display:flex;"><span>    }
</span></span><span style="display:flex;"><span>    reverse_proxy localhost:6163
</span></span><span style="display:flex;"><span>}
</span></span></code></pre></div><p>replacing your subdomain in, a preferred user for <code>user</code>, and the copied output of the hash-password for <code>password</code>. Then, again, run</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span>caddy reload
</span></span></code></pre></div><p>and it will now be password-protected to upload pastes.</p></article>
<hr>
<aside aria-labelledby="continuereading">
	<nav aria-labelledby="continuereading">
		<h2 id="continuereading">Continue Reading</h2>
		<ul>
			<li><a href="/blog/musings-from-my-brain.html" rel="prev">Previous post: Musings from my brain</a></li>
			<li><a href="/blog/a-story-im-writing.html" rel="next">Next post: A Story I’m Writing</a></li>
			<li><a href="/blog">Back to Blog</a></li>
	</nav>
</aside>
</span>
{{ include "/footer.html" "make-a-server-for-you-and-your-friends" }}