{{ include "/header.html" "My English Teacher Just Quit" }}
<span class="h-entry">
<h1 id="title" class="p-title">My English Teacher Just Quit</h1>
<aside><p id="info">360 words, a <time>2&#160;minute</time> read | Made Monday, May 2, 2022</p></aside>
<article class="e-content"><p>A week ago, the mask mandate was lifted in my school. Every teacher has a first period; including my English teacher. People said, that in the middle of that class she just left the class without her stuff. Nobody’s seen her since.</p>
<p>Today, I got the news she quit. I’m very mad about this, as she didn’t even respond to <em>text messages to her</em> from the admins.</p>
<h2 id="a-timeline-of-days">A Timeline Of Days</h2>
<ul>
<li>It’s Feburary 28, 2022. The day she left in first period. I file into ELA class, and there’s a sub. I think nothing of it. <em>Maybe she’s just sick</em>.</li>
<li>March 1. Another day, another sub. No worries, <em>still maybe sick</em>.</li>
<li>March 2. Another sub? I get told that she isn’t responding to texts. <em>Is everything okay?</em> I fail my class assignment, because this sub told us nothing.</li>
<li>March 3. Still another sub. I fail class assignment again. These are the first two fails I’ve had in English ever. <em>What’s happening?</em></li>
<li>March 4, Friday. Same sub from March 2. Not too much work. <em>I don’t think everything’s okay…</em></li>
<li>Today, March 7. I get told that she quit. <em>Something’s definetely not okay.</em></li>
</ul>
<h2 id="why-am-i-so-mad">Why Am I So Mad?</h2>
<p>My education quality will be decreased, for the remainder of the time I have in this grade. This <em>could</em> extend into college, where I might not get as good grades, and then never be able to leave the USA (where everything is expensive and I will <em>most probably</em> fall into poverty.)</p>
<p>While writing this, I’m also having period cramps. The cherry on top. Well, some sort of cramps. I don’t know what type.</p>
<p>It’s pretty miserable to have a class that makes you angry, where <em>nothing</em> is done,<em>and</em> have cramps.</p>
<p>Not the best day, in my opinion.</p>
<h2 id="on-the-other-hand-im-worried">On The Other Hand, I’m Worried</h2>
<p>What could’ve happened there that caused this so sudden leaving? What would have happened?</p>
<p>Maybe the death of a relative, or something else.</p>
<p>Either way, it’s expected you stay there for <em>at least</em> one year. If you’re aiming to be a teacher: Don’t quit in the middle of the year</p>
<p>This feels unreal writing this. But it happened.</p>
<p>Until next time.</p>
</article>
<hr>
<aside aria-labelledby="continuereading">
	<nav aria-labelledby="continuereading">
		<h2 id="continuereading">Continue Reading</h2>
		<ul>
			<li><a href="/blog/nvidia-actually-got-hacked.html" rel="prev">Previous post: NVIDIA Actually Got Hacked</a></li>
			<li><a href="/blog/observations-of-people-and-gratefulness.html" rel="next">Next post: Observations of People and Gratefulness</a></li>
			<li><a href="/blog">Back to Blog</a></li>
	</nav>
</aside>
</span>
{{ include "/footer.html" "my-english-teacher-just-quit" }}