{{ include "/header.html" "Nuanced Take on Theming" }}
<span class="h-entry">
<h1 id="title" class="p-title">Nuanced Take on Theming</h1>
<aside><p id="info">470 words, a <time>3&#160;minute</time> read | Made Thursday, Jun 9, 2022</p></aside>
<article class="e-content"><p>This is my nuanced take on theming, that could be considered long. I copied it from a thread I made. This is a slightly less formal post than usual.</p>
<h2 id="content">Content</h2>
<p>theming is absolutely broken by default and our current system of theming is absolute crap. however, I believe we can fix this and libadwaita is already making great strides toward that. theming is a good idea, but good execution of all parts is very dearly hard to do without breakage</p>
<p>recoloring and adding borders to stuff is something that absolutely will not break and i think that&rsquo;s the first thing to implement</p>
<p>icon themes can create inconsistency as i explain in my problems with customizations blogpost (which is a bit outdated)</p>
<p>custom padding and things may also break on smaller viewports but a couple limited css rules should be good there</p>
<p>I have seen people say „Just use what GTK provides“ but sometimes that&rsquo;s not enough, you need a custom widget: see Roulette rows in my app and the Nautilus directory bar in 42</p>
<p>Theming in GTK is just a broken mess and only the people who have actually worked with GTK seem to understand this</p>
<p>The simpler something is, the easier it is to theme: yet nobody wants simple things anymore</p>
<p>GNOME apps are designed to be as easy as possible to use by the end user and yet people always find something to complain about with them without thinking about the logistics at all</p>
<p>I partially agree with <a class="h-entry p-name u-url" href="https://stopthemingmy.app/">stopthemingmy.app</a> but do not think there is a brand so to speak</p>
<p>either way, icon sets that are very different from the original cause inconsistencies and I don&rsquo;t think such inconsistencies are what a DE would want to ship when everything else looks one way</p>
<p>I see people get all pissy without reading the whole letter as aforementioned—there are some good points such as</p>
<blockquote>
<p>The problem we’re facing is the expectation that apps can be arbitrarily restyled without manual work, which is and has always been an illusion.</p>
</blockquote>
<p>recoloring on its base works better than theming because custom widgets can use the default colors for themselves through variables and when those change those colors also change and it&rsquo;s good</p>
<p>trying to fully restyle an app without any manual work is like html syntax highlighting on go templating html- it just doesn&rsquo;t work for the edge cases which are a lot</p>
<blockquote>
<p>…but assuming every app works with every stylesheet is a bad default.</p>
</blockquote>
<p>As stated earlier, edge cases are everywhere, even in the simplest apps. This causes problems with auto restyling- to restyle effectively CSS would have to be individually applied to Every Single App Custom Widget and there are a lot of them- thus recoloring and a couple other tweaks would be much better.</p>
<p>That&rsquo;s how I feel about theming.</p>
</article>
<hr>
<aside aria-labelledby="continuereading">
	<nav aria-labelledby="continuereading">
		<h2 id="continuereading">Continue Reading</h2>
		<ul>
			<li><a href="/blog/site-review-spec.html" rel="prev">Previous post: My Site Review Specification</a></li>
			<li><a href="/blog/guide-to-fediverse.html" rel="next">Next post: A Fediverse Intro</a></li>
			<li><a href="/blog">Back to Blog</a></li>
	</nav>
</aside>
</span>
{{ include "/footer.html" "nuanced-take-on-theming" }}