{{ include "/header.html" "NVIDIA Actually Got Hacked" }}
<span class="h-entry">
<h1 id="title" class="p-title">NVIDIA Actually Got Hacked</h1>
<aside><p id="info">423 words, a <time>2&#160;minute</time> read | Made Monday, May 2, 2022</p></aside>
<article class="e-content"><p><em>Starting RSS
you’ll see, the freedom of this
new simplicity.</em></p>
<h2 id="lapsus-asks-nvidia-for"><strong>LAPSUS$</strong> asks <strong>NVIDIA</strong> for…</h2>
<p>If you’ve been following tech news recently, you’ll know that LAPSUS$, a hacking community from South America, asked for NVIDIA to either:</p>
<ol>
<li><strong>Go open source</strong>, and release <em>all</em> the <strong>drivers</strong> underneath an <strong>open source license</strong>, and maintain them that way, <em>forever</em>: or</li>
<li>They will release NVIDIA’s inside files and <strong>silicon secrets</strong> for the whole public to see.</li>
</ol>
<p>NVIDIA had until Friday to choose. And by the title of this article, you know they chose #2.</p>
<p>So, LAPSUS$ has now released <em>all</em> of it. In a 20 GB <strong>.rar</strong> file. It’s under a <strong>magnet link</strong>, if you were wondering. To prevent you from legal trouble, I’m not sharing that link. It should be easy to find, though. I’ve already found it.</p>
<h2 id="but-wait-theres-more">But Wait, There’s More</h2>
<p>LAPSUS$ has also hacked Samsung. They have released a 190 GB .rar file containing:</p>
<ul>
<li><strong>Bootloaders</strong> for the phones, and their <strong>source code</strong></li>
<li><strong>Biometric</strong> authentication <strong>algorithms</strong></li>
<li>On-device <strong>encryption</strong> methods</li>
</ul>
<p>And more.</p>
<h2 id="glossary">Glossary</h2>
<p>So, you read the article. Just a bunch of unintelligible words. Well, all the <strong>bolded words</strong>, like those, will be defined here.</p>
<ul>
<li><strong>LAPSUS$</strong> is a hacking group from South America.</li>
<li><strong>NVIDIA</strong> is a popular GPU maker. GPUs are what make you seeing this on a screen possible, and what makes 3D games possible too.</li>
<li><strong>Go open source</strong> means to release all of your code under an open license.</li>
<li><strong>Drivers</strong> are what make software and hardware interface.</li>
<li>An <strong>open license</strong> states yhat anyone can copy and modify your code, and depending on the license type, it may have to be released under the same license. <a href="https://truthsocial.com">Truth Social</a> by Donald Trump is an example of a software that broke an Open Source license, but now they aren’t breaking it.</li>
<li>NVIDIA’s <strong>silicon secrets</strong> deal with the secrets that go into making their GPUs.</li>
<li>A <strong>.rar</strong> file is like a .zip file, it compresses many files into 1 for a nice download.</li>
<li>A <strong>magnet link</strong> refers to a link to a specific torrent. Torrents are files that are shared from computer to computer, called “peer to peer”, versus the standard model of “server to computer”.</li>
<li>A <strong>bootloader</strong> is what makes your phone work, and basically power on.</li>
<li><strong>Source code</strong> is the code used to make something before it’s “built” to work. It can be licensed under an open source license.</li>
<li><strong>Biometrics</strong> are fingerprint, iris, and face unlock.</li>
<li><strong>Encryption</strong> makes something inaccessible unless you have the “key” for it, like a house or apartment.</li>
</ul>
<p>That’s all, until next time.</p>
</article>
<hr>
<aside aria-labelledby="continuereading">
	<nav aria-labelledby="continuereading">
		<h2 id="continuereading">Continue Reading</h2>
		<ul>
			<li><a href="/blog/the-problem-with-customizations.html" rel="prev">Previous post: The Problem With Customizations</a></li>
			<li><a href="/blog/my-english-teacher-just-quit.html" rel="next">Next post: My English Teacher Just Quit</a></li>
			<li><a href="/blog">Back to Blog</a></li>
	</nav>
</aside>
</span>
{{ include "/footer.html" "nvidia-actually-got-hacked" }}