{{ include "/header.html" "Observations of People and Gratefulness" }}
<span class="h-entry">
<h1 id="title" class="p-title">Observations of People and Gratefulness</h1>
<aside><p id="info">72 words, a <time>1&#160;minute</time> read | Made Tuesday, May 3, 2022</p></aside>
<article class="e-content"><p>As I’m looking at these people in front of me having tech problems, I feel grateful for having my own WriteFreely instance, which is now a Hugo blog.</p>
<p>I’m also grateful for having plenty food, and water. Also cats, because I love my cats dearly.</p>
<p>Are you grateful for anything? If so, please tell me, and maybe even the world. Being grateful every day is a good habit that we should have.</p>
</article>
<hr>
<aside aria-labelledby="continuereading">
	<nav aria-labelledby="continuereading">
		<h2 id="continuereading">Continue Reading</h2>
		<ul>
			<li><a href="/blog/my-english-teacher-just-quit.html" rel="prev">Previous post: My English Teacher Just Quit</a></li>
			<li><a href="/blog/musings-from-my-brain.html" rel="next">Next post: Musings from my brain</a></li>
			<li><a href="/blog">Back to Blog</a></li>
	</nav>
</aside>
</span>
{{ include "/footer.html" "observations-of-people-and-gratefulness" }}