:root {
        --bg: #FFFFDF;
        --fg: #2E2920;
        --link: #5C5240;
	--width: 35em;
}
@media screen and (prefers-color-scheme: dark) {
        :root {
                --bg: #2E2920;
                --fg: #FFFFDF;
                --link: #FFF5BF;
        }
}
@media (max-width: 35rem) {
:root {
	--width: 95vw;
}
}
rss {
	background-color: var(--bg);
	color: var(--fg);
	max-width: var(--width);
	margin: 0 auto;
	font-family: monospace;
	margin-bottom: 1rem;
}
p::before, title::before, subtitle::after, published::after, content::after, entry > title::after, published::before, subtitle::before { white-space: pre; }
generator, guid, description, channel > link { display: none; }
channel > title::after { display: block; font-weight: 400; font-size: 1rem; margin-top: 1rem; content: "Add this URL to your RSS reader to get new content. Below you can see each article’s name, permalink, and date published."; }
item > link::before { content: "https://aroace.space"; }
link { overflow: hidden; word-wrap: break-word; }
channel > title { display: block; font-weight: bold; font-size: 2rem; margin-top: 1rem; }
link, pubDate { display: block; color: var(--link); margin: 0.25rem; margin-left: 2rem; }
rss::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        pointer-events: none !important;
        background: repeating-linear-gradient(
        0deg,
        rgba(0,0,0,0.25),
        rgba(0,0,0,0.25) 1px,
        transparent 1px,
        transparent 2px);
}
title { font-size: 1.75rem; display: block; margin-top: 0.5rem; margin-bottom: 0.5rem; }
