{{ include "/header.html" "My Site Review Specification" }}
<span class="h-entry">
<h1 id="title" class="p-title">My Site Review Specification</h1>
<aside><p id="info">346 words, a <time>2&#160;minute</time> read | Made Friday, May 27, 2022</p></aside>
<article class="e-content"><p>I like to review sites that other people made for fun. Here’s what I give feedback on. This will change over time, as this is a living document: be wary.</p>
<h2 id="reccomendations">Reccomendations</h2>
<p>When I review your site, your site will be marked down if it does not follow the reccomendations below.</p>
<h3 id="usage-of-media-prefers-color-scheme">Usage of @media prefers-color-scheme</h3>
<p>For users that use dark mode, your site should be dark! Otherwise, it should <em>always be light</em>. However, do not make your dark theme white on black: that also presents accessibility concerns.</p>
<h3 id="constrained-body-width">Constrained Body Width</h3>
<p>Your body width should be constrained to 80 characters, 40 for CJK languages. This is to improve readability.</p>
<h3 id="font-stack">Font Stack</h3>
<p>You should use sans-serif or monospace fonts on your website- or import your own sans-serif or monospace. Other fonts types cause readability issues.</p>
<h3 id="semantic-html">Semantic HTML</h3>
<p>Semantic HTML is an absolute must. Not only does it make it easier for a screenreader to navigate, it also makes it easier for reader-mode programs to parse and just in general improves how a website is. This page uses semantic HTML, and the indent effect (if viewed on the original site) is done with a definition list, giving a &ldquo;meaning&rdquo; to all these pairs of headings and descriptions.</p>
<h3 id="aria-labelledby"><code>aria-labelledby</code></h3>
<p>The <code>aria-labelledby</code> property gives elements an accessible name in HTML. Using this will help screenreader users understand a section from its title.</p>
<h3 id="tap-targets">Tap Targets</h3>
<p>Tap targets should be appropriately sized. This means no single-character links; describe them and put them under a details-summary instead.</p>
<h3 id="no-js-using-limitation">No JS-using limitation</h3>
<p>I’m shocked that I must put this here, but it’s here nonetheless. If you limit your site to users with JS off, or to a specific browser engine, or anything, that recieves a very bad grade.</p>
<h3 id="accessibility-in-general">Accessibility, in general</h3>
<p>As referenced in my <a href="/opinions">opinions page,</a> Seirdy’s guide to <em>Best practices for textual websites</em> is a very good read. It outlines what you should do to make a website good, and accessible. I could go on listing various things, but that would take a lot of time, wouldn’t it?</p>
<p>Yea, that’s the post. Until next time!</p>
</article>
<hr>
<aside aria-labelledby="continuereading">
	<nav aria-labelledby="continuereading">
		<h2 id="continuereading">Continue Reading</h2>
		<ul>
			<li><a href="/blog/caddy-start-guide.html" rel="prev">Previous post: Caddy Starting Guide</a></li>
			<li><a href="/blog/nuanced-take-on-theming.html" rel="next">Next post: Nuanced Take on Theming</a></li>
			<li><a href="/blog">Back to Blog</a></li>
	</nav>
</aside>
</span>
{{ include "/footer.html" "my-site-review-specification" }}