{{ include "/header.html" "Tags" }}
<h1 id="welcome">Welcome to my blog!</h1>
<p>I write about various things here. You may explore them below.</p>
<dl class="h-feed">

</dl>
<p>Enjoy my blog, and thank you!</p>
{{ include "/footer.html" "tags" }}