{{ include "/header.html" "The Problem With Customizations" }}
<span class="h-entry">
<h1 id="title" class="p-title">The Problem With Customizations</h1>
<aside><p id="info">540 words, a <time>3&#160;minute</time> read | Made Monday, May 2, 2022</p></aside>
<article class="e-content"><p><em>Open computer
Take in the pretty themes, too
Until it all breaks</em></p>
<p>Don’t get me wrong. Customizing is really nice. In fact, I do make a couple of GNOME purple themes. But customization, as a concept, has fatal flaws in computing. This, in some cases, extends to preferences too.</p>
<p><em>This work contains my opinions on theming, preferences, and more.</em></p>
<h2 id="lets-start-with-app-icons">Let’s Start With App Icons</h2>
<p>Ready? Alright. I make my app, <a class="h-entry p-name u-url" href="https://forever.amongtech.cc/random">Random</a>, for GNOME. I have everything in. Then, someone makes an icon for Numix Circle (that icon’s <a class="h-entry p-name u-url" href="https://raw.githubusercontent.com/numixproject/numix-icon-theme-circle/master/Numix-Circle/48/apps/randomgtk.svg">here</a>). And then, my Random icon is updated. (That one’s <a class="h-entry p-name u-url" href="https://codeberg.org/foreverxml/random/raw/branch/main/data/icons/hicolor/scalable/apps/page.codeberg.foreverxml.Random.svg">here</a>). Let’s quickly compare these two. (Please open both and look at them).</p>
<p>You’ve looked at both, right? Good. The Numix Circle one is modeled after the old Random icon, which was modeled after the GNOME Clock icon. Now, there’s a new, <em>better</em> icon, but the custom icon isn’t updated. This reveals #1 on our list of the flaws with customization:</p>
<ul>
<li>
<ol>
<li>When customizations are made, they’re not usually updated with the app.</li>
</ol>
</li>
</ul>
<p>Also, app icons can look out of place with all of them being in one theme, and one native app <em>not</em> being in that one theme. That’s #2:</p>
<ul>
<li>
<ol start="2">
<li>Not-customized apps will look out of place.</li>
</ol>
</li>
<li>
<ol start="3">
<li>Furthermore, many users will uninstall a not-customized app <em>because</em> it looks out of place.</li>
</ol>
</li>
</ul>
<p>That’s already 3 flaws, and that’s <em>just</em> looking at app icons. So, without further ado, let’s look at other things.</p>
<h2 id="app-themes">App “Themes”</h2>
<p>I’ll parse <a class="h-entry p-name u-url" href="https://blogs.gnome.org/tbernard/2018/10/15/restyling-apps-at-scale/">this article</a> by Tobias Bernard. First, however, let’s look at some broken “themes”.</p>
<figure><img src="https://blogs.gnome.org/tbernard/files/2018/08/pop-calendar.png"
         alt="Pop!_OS date picker"/><figcaption>
            <p>Date picker in Calendar on Pop OS: There are double arrows left of the month and year labels.</p>
        </figcaption>
</figure>

<figure><img src="https://blogs.gnome.org/tbernard/files/2018/08/ambiance-createfile.png"
         alt="Nautilus in Ambiance"/><figcaption>
            <p>“New Folder” dialog in Nautilus with Ambiance: There’s an invisible “Create” button in the top right.</p>
        </figcaption>
</figure>

<figure><img src="https://blogs.gnome.org/tbernard/files/2018/10/gedit-sidebar-pop.png"
         alt="Gedit on Pop!_OS"/><figcaption>
            <p>Gedit on Pop!_OS: There’s a brown rectangle sticking out of the window at the top, and the widgets at the top of the sidebar look awkward and don’t make sense in this configuration.</p>
        </figcaption>
</figure>

<p>These are just a couple examples of what happen when an app is themed, and then something is updated. Back to number 1, I guess.</p>
<p>And, also reference back to 2 and 3. Wow, those too! One other thing, though:</p>
<ul>
<li>
<ol start="4">
<li>Help docs can’t work if the app looks different.</li>
</ol>
</li>
<li>
<ol start="5">
<li>It complicates things for the developer, and makes the app hard to maintain.</li>
</ol>
</li>
</ul>
<p>Now that’s it for here.</p>
<h2 id="what-happens-if-these-are-default">What happens if these are <em>default</em>?</h2>
<p>This adds some more.</p>
<ul>
<li>
<ol start="6">
<li>It removes the possiblity to create a cohesive identity.</li>
</ol>
</li>
</ul>
<p>Not much more, but there’s that. There’s things that people who enforce sometimes do (here, I look at Pop!_OS’s reaction to Libadwaita). So, in summary:</p>
<h2 id="the-6-things-wrong-with-customization">The 6 Things Wrong With Customization</h2>
<ol>
<li>When customizations are made, they’re not usually updated with the app.</li>
<li>Not-customized apps will look out of place.</li>
<li>Furthermore, many users will uninstall a not-customized app <em>because</em> it looks out of place.</li>
<li>Help docs can’t work if the app looks different.</li>
<li>It complicates things for the developer, and makes the app hard to maintain.</li>
<li>It removes the possiblity to create a cohesive identity.</li>
</ol>
<p>That’s it to my article on this. Please know I’m not against this, and don’t have hard feelings for people who like customization. I sometimes like customization. I’m just pointing out some base flaws. Thanks for hanging around.</p></article>
<hr>
<aside aria-labelledby="continuereading">
	<nav aria-labelledby="continuereading">
		<h2 id="continuereading">Continue Reading</h2>
		<ul>
			<li><a href="/blog/on-font-imports.html" rel="prev">Previous post: On Font Imports</a></li>
			<li><a href="/blog/nvidia-actually-got-hacked.html" rel="next">Next post: NVIDIA Actually Got Hacked</a></li>
			<li><a href="/blog">Back to Blog</a></li>
	</nav>
</aside>
</span>
{{ include "/footer.html" "the-problem-with-customizations" }}