{{ define "main" }}
<h1 id="{{ .Title | urlize }}">Welcome to my blog!</h1>
<p>I write about various things here. You may explore them below.</p>
<dl class="h-feed">
{{ range .Pages.ByDate.Reverse }}
<article aria-labelledby="{{ .Title | urlize }}" class="h-entry">
<dt><h2><a id="{{ .Title | urlize }}" class="p-name u-url" href="{{ .Permalink }}">{{ .Title }}</a></h2></dt>
<dd class="e-content">Made on {{ .Date.Format "Monday, Jan 2, 2006" }}; {{ .WordCount }} words, {{ with .ReadingTime -}}
	{{- $displayTime := string . -}}
	{{- if gt . 60 -}}
		{{- $hours := div . 60 -}}
		{{- $minutes := mod . 60 -}}
		{{- $displayTime = (printf "%d&#160;hour and %d" $hours $minutes) | safeHTML -}}
	{{- end -}}
	a <time>{{ $displayTime }}&#160;minute</time> read
{{- end }}</dd>
</article>
{{ end }}
</dl>
<p>Enjoy my blog, and thank you!</p>
{{ end }}
