{{include "/header.html" "Antcipher"}}
  <h1 id="title">Antcipher</h1>
  <p>Antcipher is a new way to write English that uses the Cyrillic alphabet with a few modifications. To get started, see the below table.</p>
  <table id="antcipher-chart">
  	<tr>
      <th>English</th>
      <th>Antcipher Cyrillic</th>
    </tr>
    <tr>
      <td>A</td>
      <td>Аа</td>
    </tr>
    <tr>
      <td>B</td>
      <td>Бб</td>
    </tr>
    <tr>
      <td>Ts</td>
      <td>Цц</td>
    </tr>
    <tr>
      <td>D</td>
      <td>Дд</td>
    </tr>
    <tr>
      <td>E</td>
      <td>Ее</td>
    </tr>
    <tr>
      <td>F, ph</td>
      <td>Фф</td>
    </tr>
    <tr>
      <td>G</td>
      <td>Гг</td>
    </tr>
    <tr>
      <td>H</td>
      <td>Хх</td>
    </tr>
    <tr>
      <td>I (in the<br>word I)</td>
      <td>АИ Аи аи</td>
    </tr>
    <tr>
      <td>I (in the<br>word Bring)</td>
      <td>Ии</td>
    </tr>
    <tr>
      <td>I (in the<br>word Drip)</td>
      <td>Ыы</td>
    </tr>
    <tr>
      <td>J/soft G</td>
      <td>ДЖ Дж дж</td>
    </tr>
    <tr>
      <td>K, sometimes C</td>
      <td>Кк</td>
    </tr>
    <tr>
      <td>L</td>
      <td>Лл</td>
    </tr>
    <tr>
      <td>M</td>
      <td>Мм</td>
    </tr>
    <tr>
      <td>N</td>
      <td>Нн</td>
    </tr>
    <tr>
      <td>O</td>
      <td>Оо</td>
    </tr>
    <tr>
      <td>P</td>
      <td>Пп</td>
    </tr>
    <tr>
      <td>Qu</td>
      <td>Ку, Квь</td>
    </tr>
    <tr>
      <td>R</td>
      <td>Рр</td>
    </tr>
    <tr>
      <td>S, sometimes C</td>
      <td>Сс</td>
    </tr>
    <tr>
      <td>T</td>
      <td>Тт</td>
    </tr>
    <tr>
      <td>U</td>
      <td>Уу</td>
    </tr>
    <tr>
      <td>V</td>
      <td>Вв</td>
    </tr>
    <tr>
      <td>W</td>
      <td>Вь, Уь</td>
    </tr>
    <tr>
      <td>X</td>
      <td>Кс, Кз, З</td>
    </tr>
    <tr>
      <td>Y</td>
      <td>Йй</td>
    </tr>
    <tr>
      <td>Z</td>
      <td>Зз</td>
    </tr>
    <tr>
      <td>Sh</td>
      <td>Шш</td>
    </tr>
    <tr>
      <td>Ch</td>
      <td>Чч</td>
    </tr>
    <tr>
      <td>Ya</td>
      <td>Яя</td>
    </tr>
    <tr>
      <td>Ye</td>
      <td>Ээ</td>
    </tr>
    <tr>
      <td>Yu</td>
      <td>Юю</td>
    </tr>
    <tr>
      <td>Th (in the<br>word the)</td>
      <td>Дь</td>
    </tr>
    <tr>
      <td>Th (in the<br>word three)</td>
      <td>Ть</td>
    </tr>
    <tr>
      <td>Zh sound<br>(as in pleasure)</td>
      <td>Жж</td>
    </tr>
    <tr>
      <td>Ng (as in -ing)</td>
      <td>Нь</td>
    </tr>
    <tr>
      <td>Ng (as<br>in English)</td>
      <td>Ньг</td>
    </tr>
  </table>
  <p>To convert into Antcipher, do not use normal spelling. Sound out the word out loud first, preferrably in American English, then spell with the above.</p>
  <h2 id="try-reading">Try reading it!</h2>
  <h3>Вьелком ту Антсаифер!</h3>
  <p>Антсаифер из а ну вьаи ту раит ын ан енкодыд вьаи. Ит страивз ты би а плежур ту рид анд ты би изи ты раит вьитьоут сакрифаисинь праиваси.</p>
{{include "/footer.html" "antcipher"}}
