{{include "/header.html" "Ecosia Tree Counter"}}
<h1 id="title">The Ecosia Tree Counter</h1>
<p id="noscript">The Ecosia Tree counter uses JavaScript to calculate your tree number, which you have off.</p>
<div id="ecosiatree" style="display:none;">
	<p>How many times have you searched on Ecosia? (Hint: Look at the tree counter in the top right!)</p>
	<input type="number" id="sn" class="numeral" placeholder="2347" size="4">
	<p>You've planted</p>
	<p id="t" class="numeral">0</p>
	<p>tre<span id="est">es</span>, and you need to search</p>
	<p id="s" class="numeral">45</p>
	<p>more tim<span id="es">es</span> to plant another tree</p>
</div>
<h2>Wait, how does this even work?</h2>
<p><a href="https://ecosia.zendesk.com/hc/en-us/articles/201657341-How-does-the-personal-counter-work-">According to Ecosia</a>, it takes 50 searches to plant a tree, so this calculator divides by 50 and helps you reach a searching goal!</p>
<script nonce="6vurnf8">
	window.onload = () => {
		document.getElementById("noscript").style.display = "none";
		document.getElementById("ecosiatree").style.display = "flex";
	};
	var sn = document.getElementById("sn");
	var t = document.getElementById("t");
	var est = document.getElementById("est");
	var s = document.getElementById("s");
	var es = document.getElementById("es");
	var num, numt, sl;
	sn.addEventListener('input', () => {
		num = sn.value;
		if (num == 0) {
			t.innerText = 0;
			est.innerText = "es";
			s.innerText = "50";
			es.innerText = "es";
			return;
		}
		numt = Math.floor(num / 50);
		t.innerText = numt;
		if (numt == 1) {
			est.innerText = "e";
		} else {
			est.innerText = "es";
		}
		sl = 50 - (num % 50);
		if (sl == 0) { sl = 50; }
		s.innerText = sl;
		if (sl == 1) {
			es.innerText = "e";
		} else {
			es.innerText = "es";
		}
	});
</script>
{{include "/footer.html" "ecosiatree"}}