{{ $code := placeholder "http.error.status_code" -}}
{{ $text := placeholder "http.error.status_text" -}}
{{ $full_text := printf "%s %s" (placeholder "http.error.status_code") (placeholder "http.error.status_text") -}}
{{- if (eq $full_text "420 ") -}}{{- $full_text = "420 Enhance Your Calm" -}}{{- end -}}
{{include "/header.html" (print $code " | Forever’s Home")}}
<h1 id="title">Error {{ $code }}</h1>
<p>You found an error {{$full_text -}}. {{if (eq (trunc 1 $code) "4")}}This error was due to a problem with your browser. Maybe try going to another page?{{else if (eq (trunc 1 $code) "5")}}You seem to have encountered a server error. Please contact Forever about this.{{else}}This shouldn't be an error. Please contact Forever about this.{{end}}</p>
<h2>Error Cat</h2>
<figure>
	<img src="https://http.cat/{{$code}}"/>
	<figcaption>Error {{$full_text}}</figcaption>
</figure>
<p>I hope this Error Cat helps cheer up your day. Have an absolutely leptaniformic day!</p>
{{include "/footer.html" "home"}}
