{{include "/header.html" "Fediace Blocklist Viewer"}}
<style>
	#list > article {
		padding: 1rem;
		border: 1px solid var(--fg);
		border-bottom: none;
	}
	#list > article:first-child {
		border-radius: 1.5rem 1.5rem 0 0;
	}
	#list > article:last-child {
		border-bottom: 1px solid var(--fg);
		border-radius: 0 0 1.5rem 1.5rem;
	}
</style>
<h1 id="title">Fediace Blocklist Viewer</h1>
<div id="list"><h2>Processing list...</h2><p>If processing is not occuring, check your JS.</p></div>
<h2 style="font-size: 1.75em;">About the Blocklist Viewer</h2>
<p>This viewer is made with a few lines of JS. Feel free to steal them for your purposes, but please credit me.</p>
<script>
	async function getList() {
		let    url = "https://fedi.aroace.space/api/v1/instance/peers?filter=suspended";
		let    obj = await (await fetch(url)).json();
                return obj;
	}
	async function main() {
        const list = await getList();
	const ll      = list.length + 1;
	var   listBox = document.getElementById("list");
	      listBox.innerHTML = "";

	for   (let i = 1; i < ll; i++) {
		let box = document.createElement("article");
		    box.id = i;

		let small = document.createElement("small");
		    small.append(`Instance #${i}`);
		    box.append(small);

		let instance = document.createElement("h2");
		    instance.append(list[i].domain);
		    box.append(instance);

		let reason = document.createElement("p");
		if  (list[i].public_comment == null) {
		    reason.append("No block reason"); }
		else {
		    reason.append(`Block reason: ${list[i].public_comment}`); }
		    box.append(reason);

		    listBox.append(box);
	}}
	main();
</script>
{{include "/footer.html" "fediaceblocklistviewer"}}