{{include "/header.html" "The Fediverse"}}
<h2 id="title">The Fediverse</h2>
<p>I joined Fedi in somewhat-late March 2021, and have been there ever since. Currently I’m at <a class="h-entry p-name u-url" rel="me" href="https://fedi.aroace.space/@forever">@forever@fedi.aroace.space</a>. I enjoy talking to some close friends on the Fediverse!</p>
<h3>If you arrived here from Fediring</h3>
<p>I have removed myself from the Fediring due to the admin grooming a minor. I reccomend you follow suit.</p>
{{include "/footer.html" "fedi"}}
