{{ $pa := trimAll ".html" .Req.URL.Path }}
{{ $path := trimAll "index" $pa }}
</main>
<footer>
<hr>
<aside aria-labelledby="johnvert"><iframe class="noprint johnvertising" title="Johnvertisement" id="johnvert" src="https://john.citrons.xyz/embed?ref=aroace.space"></iframe></aside>
<h2>Reply</h2>
<p>Reply to this page with <a href="https://matrix.to/#/@forever:the-apothecary.club" rel="me">matrix</a> or <a href="mailto:forever@aroace.space" rel="me">email.</a></p>
<h2>Cool Badges</h2>
<p>here’s some badges i have that i want to show you:</p>
<details class="noprint">
	<summary>Expand links list</summary>
	<ul>
		<li><a href="http://web3.14159.annwfn.net/">Web π</a></li>
		<li><a href="https://validator.w3.org/nu/?doc=https://aroace.space/">W3C Valid HTML</a></li>
		<li><a href="https://yesterweb.org/no-to-web3/">Say No To Web3</a></li>
		<li><a href="/The-Memetic-Leptaniform">The Memetic Leptaniform</a></li>
	</ul>
</details>
<h2>Webmentions</h2>
<p>All pages on this website are Webmention-compatible. You may view Webmentions for this page <a href="/webmention#{{ index .Args 0 }}">here</a> or submit some below.</p>
<p class="legend">Put a URL on a website linking to this page in its full form and send me a webmention!</p>
<fieldset>
	<form method="post" action="https://webmention.io/aroace.space/webmention">
		<input type="hidden" name="target" value="https://aroace.space{{ $path }}" >
		<label for="wm">URL with link</label>
		<div>
			<input id="wm" type="url" name="source">
			<div><input type="submit" value="Send" id="sendwm"></div>
		</div>
	</form>
</fieldset>
<h2>Webrings</h2>
<p>i’m part of a lot of <abbr title="A doubly-linked list of websites">webrings</abbr>. click on the name of each one to expand it and see page links. if you want to have me join a webring, please reach out.<br><b>Warning: Sites linked in these webrings may not be adaptive or accessible.</b></p>
<details class="noprint">
	<summary>Expand webring list</summary>
	<ol><li>
	<details>
		<summary>Miniclub</summary>
		<ul>
			<li><a href="https://miniclub.amongtech.cc/prev/aroace.space">Previous</a></li>
			<li><a href="https://miniclub.amongtech.cc">Home</a></li>
			<li><a href="https://miniclub.amongtech.cc/random">Random</a></li>
			<li><a href="https://miniclub.amongtech.cc/next/aroace.space">Next</a></li>
		</ul>
	</details>
	</li><li>
	<details>
		<summary>Retronaut</summary>
		<p><b>This webring may have objectionable contents</b> as no approval is required to join. Please, <b>use caution</b> when browsing this webring.</p>
		<ul>
			<li><a href="https://webring.dinhe.net/prev/https://aroace.space">Previous</a></li>
			<li><a href="https://webring.dinhe.net">Home</a></li>
			<li><a href="https://webring.dinhe.net/next/https://aroace.space">Next</a></li>
		</ul>
	</details>
	</li><li>
	<details>
		<summary>NoJS</summary>
		<ul>
			<li><a href="https://nojs.sugarfi.dev/prev.php?url=https://aroace.space">Previous</a></li>
			<li><a href="https://nojs.sugarfi.dev">Home</a></li>
			<li><a href="https://nojs.sugarfi.dev/rand.php">Random</a></li>
			<li><a href="https://nojs.sugarfi.dev/next.php?url=https://aroace.space">Next</a></li>
		</ul>
	</details>
	</li><li>
	<details>
		<summary>Devring</summary>
		<ul>
			<li><a href="https://devring.club/sites/6/prev">Previous</a></li>
			<li><a href="https://devring.club">Home</a></li>
			<li><a href="https://devring.club/random">Random</a></li>
			<li><a href="https://devring.club/sites/6/next">Next</a></li>
		</ul>
	</details>
	</li><li>
	<details>
		<summary>Hotline</summary>
		<p><b>This webring may have objectionable contents</b> as no approval is required to join. Please, <b>use caution</b> when browsing this webring.</p>
		<ul>
			<li><a href="https://hotlinewebring.club/aroace/previous">Previous</a></li>
			<li><a href="https://hotlinewebring.club/">Home</a></li>
			<li><a href="https://hotlinewebring.club/aroace/next">Next</a></li>
		</ul>
	</details>
	</li><li>
	<details>
		<summary>IndieWeb</summary>
		<p><b>This webring may have objectionable contents</b> as no approval is required to join. Please, <b>use caution</b> when browsing this webring.</p>
		<ul>
			<li><a href="https://xn--sr8hvo.ws/%F0%9F%A6%84%F0%9F%8F%82%F0%9F%98%B9/previous">Previous</a></li>
			<li><a href="https://xn--sr8hvo.ws">Home</a></li>
			<li><a href="https://xn--sr8hvo.ws/%F0%9F%A6%84%F0%9F%8F%82%F0%9F%98%B9/next">Next</a></li>
		</ul>
	</details>
	</li><li>
	<details>
		<summary>Yesterweb</summary>
		<ul>
			<li><a href="https://webring.yesterweb.org/noJS/index.php?d=prev&url=https://aroace.space/">Previous</a></li>
			<li><a href="https://webring.yesterweb.org">Home</a></li>
			<li><a href="https://webring.yesterweb.org/noJS/index.php?d=rand&url=https://aroace.space/">Random</a></li>
			<li><a href="https://webring.yesterweb.org/noJS/index.php?d=next&url=https://aroace.space/">Next</a></li>
		</ul>
	</details>
	</li><li>
	<details>
		<summary>Bucket (JS)</summary>
		<noscript>
			<p>You don't have JS enabled, which means you may use these fallback links.</p>
			<ul>
				<li><a href="https://seirdy.one/">Previous</a></li>
				<li><a href="https://austinhuang.me/">Next</a></li>
			</ul>
			<p>Or, if you want, you may attempt to use the normal links.</p>
		</noscript>
		<ul>
			<li><a href="https://webring.bucketfish.me/redirect.html?to=prev&name=forever">Previous</a></li>
			<li><a href="https://webring.bucketfish.me">Home</a></li>
			<li><a href="https://webring.bucketfish.me/redirect.html?to=next&name=forever">Next</a></li>
		</ul>
	</details>
	</li><li>
	<details>
		<summary>GEORGE</summary>
		<p>These links are manually updated. Please visit the <a href="/GEORGE">dedicated iframe page</a> for auto-updated links.</p>
		<ul>
			<li><a href="https://tabby-the-tabby.neocities.org">Previous</a></li>
			<li><a href="https://george.gh0.pw">Home</a></li>
			<li><a href="https://seirdy.one">Next</a></li>
		</ul>
	</details>
	</li><li>
	<details>
		<summary>Geekring</summary>
		<ul>
			<li><a href="http://geekring.net/site/182/previous">Previous</a></li>
			<li><a href="https://geekring.net">Home</a></li>
			<li><a href="http://geekring.net/site/182/random">Random</a></li>
			<li><a href="http://geekring.net/site/182/next">Next</a></li>
		</ul>
	</details>
	</li><li>
	<details>
		<summary>Loop (JS)</summary>
		<noscript>
			<p>You don't have JS enabled, which means you may use these fallback links.</p>
			<ul>
				<li><a href="https://seirdy.one/">Previous</a></li>
				<li><a href="https://bulltown.2022.jenett.org/">Next</a></li>
			</ul>
			<p>Or, if you want, you may attempt to use the normal links.</p>
		</noscript>
		<ul>
			<li><a href="https://graycot.com/webring/loop-redirect.html?action=prev">Previous</a></li>
			<li><a href="https://graycot.com/webring/loop-redirect.html?action=home">Home</a></li>
			<li><a href="https://graycot.com/webring/loop-redirect.html?action=rand">Random</a></li>
			<li><a href="https://graycot.com/webring/loop-redirect.html?action=next">Next</a></li>
		</ul>
	</details>
	</li><li>
	<details>
		<summary>The Forest</summary>
		<p><b>This webring may have objectionable contents</b> as no approval is required to join. Please, <b>use caution</b> when browsing this webring.</p>
		<ul>
			<li><a href="https://theforest.link">Home</a></li>
			<li><a href="https://theforest.link/go-for-a-walk">Go for a Walk (Random)</a></li>
		</ul>
	</details>
	</li><li>
	<details>
		<summary>512kb Club (Orange Team)</summary>
		<ul>
			<li><a href="https://512kb.club">Home</a></li>
		</ul>
	</details>
	</li></ol>
</details>
</footer>
</body>
</html>
