{{include "/header.html" "GEORGE"}}
<h1 id="title">GEORGE</h1>
<p>GEORGE is all. GEORGE is to live. the council of GEORGE has shined upon all of us. welcome. this is the iframe page for GEORGE. up-to-date GEORGE links may be shown on this GEORGE page.</p>
<aside aria-labelledby="georgeif"><iframe class="johnvertisement" style="filter:sepia(1);height:50px;width:100%;" id="georgeif" title="GEORGE webring" src="https://george.gh0.pw/embed.cgi?forever"></iframe></aside>
<p>GEORGE is the reason we all exist. thank you.</p>
{{include "/footer.html" "GEORGE"}}