<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ index .Args 0 }} | Forever's Home</title>
<link rel="stylesheet" href="/style.css" />
<meta name="disabled-adaptations" content="watch">
<meta name="color-scheme" content="light dark">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#2E2920" media="(prefers-color-scheme: dark)">
<meta name="theme-color" content="#FFFFDF" media="(prefers-color-scheme: light)">
<meta name="description" content="Forever&#39;s Home - local idiot who tinkers around with things">
<link rel="icon" type="image/png" href="/assets/picrew.png" />
<link rel="alternate" type="application/rss+xml" href="https://aroace.space/blog/index.xml" title="Forever&#39;s Home">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="webmention" href="https://webmention.io/aroace.space/webmention" />
<link rel="pingback" href="https://webmention.io/aroace.space/xmlrpc" />
</head>
<body>
<header aria-labelledby="foreverheader">
<span class="h-card">
<div id="top" class="noprint">
  <a href="/" class="u-url u-uid"><img class="u-logo u-photo" src="/assets/picrew.png" style="aspect-ratio: 1 / 1; border-radius: 15%;" alt="Profile"/></a>
  <div id="headtop">
  <p id="foreverheader" class="p-nickname">
    Forever
  </p>
  <span class="p-note">Pronouns: they/them, she/her</span>
  </div>
</div>
<span style="display:none !important;" aria-hidden="true">Contact me with <a class="u-email" href="mailto:forever@aroace.space">Email</a> if wanted. I’m living in <span class="p-locality">Denver</span>, <span class="p-region">Colorado</span>, <span class="p-country-name">USA</span>. My honorific is <span class="p-honorific-prefix">Mx.</span></span>
</span>
<nav class="noprint"><p><a href="/contact">Contact</a>  <a href="/blog/">Blog</a>  <a href="/links">Links</a></p></nav>
<hr/>
</header>
<main aria-labelledby="title">
