{{include "/header.html" "Home" }}
<h1 id="title">Forever</h1>
<p>Hey. I’m Forever. I'm part of the Leptæniformia System, which is me and <a href="https://fedi.aroace.space/@lilith">Lilith</a>. This is our shared website, but mostly I write. Anyway, I’m a librafeminine greyplatonic agender aroace (look those terms up if you need!) weirdo residing in Colo&shy;rado with a hyper&shy;fixation on pro&shy;gramming, specif&shy;ically web pro&shy;gramming and access&shy;ibility. Things I have been previously hyper&shy;fixated on include chess, cars, Linux, and theming. I believe minimal&shy;ism is good, as it allows something to be robust; which is why this website is so tiny. I tinker around with things sometimes. Wanna be my friend?</p>
<h2 id="coding">Coding</h2>
<p>It is apparent that I code things. Those things include:</p>
<ul>
	<li>this site</li>
	<li>CSS snippets for a couple people</li>
</ul>
<p>In any case, I sometimes code. What I prefer to do, however, is be with friends.</p>
<h2 id="dont-you-know-other-languages">Don’t you know other languages?</h2>
<p>I do, although I’m not fluent in them. I know English, Latin and German.</p>
<h2 id="anything-else">Anything else?</h2>
<p>I try to be friendly but don’t have patience for bad people. Also, I’m a minor. That’s really all.</p>
{{ if (contains "aplagender.aroace.space" (.Req.Header.Get "Referer")) }}
<h2 id="tumblr">Tumblr</h2>
<p>I see you're visiting my site from my Tumblr website. Welcome! I'm glad you're here! Explore if you want and see all my magic webbed sites! Like the similar design? I think it's nice. That's all.</p>
{{ end }}
{{ if (contains "tumblr.com" (.Req.Header.Get "Referer")) }}
<h2 id="tumblr">Tumblr</h2>
<p>I see you're visiting my site from Tumblr. Welcome! I'm glad you're here! Explore if you want and see all my magic webbed sites! That's all.</p>
{{ end }}
{{include "/footer.html" "index"}}
