{{include "/header.html" "Johnvertisement"}}
<h1 id="title">Johnvertisements</h1>
<p>you have now reached the johnvertisement page. a single johnvertisement will be displayed below. thank you.</p>
<iframe src="https://john.citrons.xyz/embed?ref=aroace.space" title="Johnvertisement" class="johnvertising"></iframe>
<p>thank you for viewing this johnvertisement. you may reload to create another. while you are here, do not forget to look at the <a href="https://citrons.xyz/a/memetic-apioform-page.html">memetic apioform page</a>.</p>
{{include "/footer.html" "johnvertisement"}}