 {{include "/header.html" "Links"}}
<h1 id="title">Links</h1>
<p>I have many links; so many I had to put them on their own pages. <a href="#other-sites">Jump to Other Sites</a></p>
<section>
<h2 id="sitemap">Site&shy;map</h2>
<ul>
	<li><a href="/">Home</a></li>
	<li>Links</li>
	<li><a href="/services">Services</a></li>
	<li><a href="/contact">Contact Me</a></li>
	<li><a href="/blog">Blog</a></li>
	<li><a href="/johnvertisement">Johnvertisements</a></li>
	<li><a href="/The-Memetic-Leptaniform">The Memetic Leptaniform</a></li>
	<li><a href="/antcipher">Antcipher</a></li>
	<li><a href="/mails">ForeverMail</a></li>
	<li><a href="/stats">Statistics</a></li>
	<li><a href="/GEORGE">GEORGE</a></li>
	<li><a href="/mc">Acecraft</a></li>
	<li><a href="https://unsafe.aroace.space/ecosiatree">Ecosia Tree Calculator</a></li>
</ul>
</section>
<section>
<h2 id="people-i-like">People I Like</h2>
<p>I have some friends online I think are cool. Check them out!</p>

<figure>
	<blockquote>gender is a heck (dude flavor)</blockquote>
	<figcaption>axolotl, the gayest ace you've seen all day, possibly all week</figcaption>
</figure>
<figure>
	<blockquote>gender is a strange, indescribable substance</blockquote>
	<figcaption>autumn, friendly enby pony who makes funny posts online just like me</figcaption>
</figure>
<figure>
	<blockquote>profile fields: lots</blockquote>
	<figcaption>Seirdy, halfway-serious online undergrad student with a cool accessible <a href="https://seirdy.one">website</a></figcaption>
</figure>
</section>
<section>
<h2 id="other-sites">Other sites</h2>
<p>I have a couple of links that influenced the creation of this website that I’d like to share with you. They also direct to some reasons I have my opinions and how this website came to be, and how the old website came to be. If you want to link someone to a specific URL and blurb, add <em>#{url}</em> to to the link to this page.</p>
<dl class="h-feed">
<span class="h-entry">
<dt><h3 id="https://seirdy.one/2020/11/23/website-best-practices.html"><a itemprop="url" class="p-name u-url" href="https://seirdy.one/2020/11/23/website-best-practices.html">Best practices for inclusive textual websites</a></h3></dt>
<dd class="e-content">I agree with most of the contents of this essay, written by Seirdy. I believe it’s well formed and explains many of my web opinions nicely. In a nutshell, I believe the current web is bloated and even old web design won’t work anymore and we must move to a new era. However, I also believe that Gopher and Gemini are unnessescary, as the HTTP protocol (especially more recent versions) holds up really well.</dd>
</span>
<span class="h-entry">
<dt><h3 id="https://caddyserver.com/#features-title"><a itemprop="url" class="p-name u-url" href="https://caddyserver.com/#features-title">Caddy webserver features</a></h3></dt>
<dd class="e-content">When I added Libreddit to my WriteFreely machine, I realized I needed a reverse proxy. Someone on the Internet linked me to this website so I could read through the features. I’m glad I did, because I’m very bad at nginx (the leading webserver) configuration, while Caddy’s Caddyfile rolls off the hands and now powers more than 6 services running on that WriteFreely machine, and more than 4 different static pages. A lot of this website relies on Caddy functionality; the header and footer of this page are rendered in using Caddy’s template functionality, and when I write pages for this site I preview them with a simple local Caddyfile. Which adds HTTPS, HTTPS is kind of Caddy’s thing.</dd>
</span>
<span class="h-entry">
<dt><h3 id="https://solar.lowtechmagazine.com"><a itemprop="url" class="p-name u-url" href="https://solar.lowtechmagazine.com">LOW←TECH MAGAZINE</a></h3></dt>
<dd class="e-content">This website offers many things I think are too high-tech and many low-tech solutions. I believe most of this but I also think a small amount are impractical; nevertheless, it’s a really good resource and has impacted the design of my current website.</dd>
</span>
<span class="h-entry">
<dt><h3 id="https://seirdy.one/2021/02/23/keeping-platforms-open.html"><a itemprop="url" class="p-name u-url" href="https://seirdy.one/2021/02/23/keeping-platforms-open.html">Keeping platforms open</a></h3></dt>
<dd class="e-content">This essay, also written by Seirdy, reveals the problem with current open platforms. I’ll add a bit on and say that patforms with a fast spec should, if possible, be used with bare minimum by the community.</dd>
</span>
<span class="h-entry">
<dt><h3 id="https://en.crimethinc.com"><a itemprop="url" class="p-name u-url" href="https://en.crimethinc.com">CrimethInc.</a></h3></dt>
<dd class="e-content">This has many leftist news articles and things on how the state is utter garbage that I very much appreciate. It inspires me every day to build up courage and lead a rebellion against the state, and give control back to the people. Also, thirteen twelve- no exceptions.</dd>
</span>
<span class="h-entry">
<dt><h3 id="https://write.pixie.town/thufie/"><a itemprop="url" class="p-name u-url" href="https://write.pixie.town/thufie/">thufie’s blog</a></h3></dt>
<dd class="e-content">This blog, written by another of my online friends, rants about some things I consider important. Her posts are well thought out and structured and enjoyable for me to read.</dd>
</span>
</dl>
<p>If you have any other links you want me to read, don’t be afraid to send them to me using one of my contact methods.</p>
</section>
{{include "/footer.html" "links"}}
