{{include "/header.html" "ForeverMail"}}
<h1 id="title">ForeverMail</h1>
<p>you may send me an email with the subject <code>ForeverMail</code> and ask a question, specifying if you want your name or email public. entries are below.</p>
<dl class="h-feed">
	<dt><h3>ConfuSomu</h3></dt>
	<dd>
		<blockquote>Is the email <a href="mailto:forever@amongtech.cc">forever@amongtech.cc</a> still valid?</blockquote>
		All emails under the amongtech.cc domain are routed to my personal email, with the exception of the admin email. So yes, it’s still valid :)
	</dd>
</dl>
{{include "/footer.html" "mails"}}