{{include "/header.html" "Acecraft"}}
<h1 id="title">Acecraft</h1>
<p><em>Acecraft</em> is the aroacespace Minecraft server. It runs on minecraft version 1.18 and Fabric modloader. To join, you should make a new instance in your <a href="https://polymc.org">PolyMC</a> using 1.18 and Fabric, and download the following mods:</p>
<h2 id="mods">Mods</h2>
<h3 id="rq">Required mods</h3>
<ul>
	<li><a href="https://modrinth.com/mod/charm/">Charm</a></li>
	<li><a href="https://modrinth.com/mod/fabric-api">Fabric API</a></li>
</ul>
<h3 id="opt">Optional but reccomended mods</h3>
<ul>
	<li><a href="https://modrinth.com/mod/modmenu">Mod Menu</a></li>
	<li><a href="https://modrinth.com/mod/sodium">Sodium</a>
		<ul>
			<li><a href="https://modrinth.com/mod/sodium-extra">Sodium Extra</a></li>
			<li><a href="https://modrinth.com/mod/reeses-sodium-options">Reese's Sodium Options</a></li>
			<li><a href="https://modrinth.com/mod/indium">Indium</a></li>
		</ul>
	</li>
	<li><a href="https://modrinth.com/mod/starlight">Starlight</a></li>
	<li><a href="https://modrinth.com/mod/lithium">Lithium</a></li>
	<li><a href="https://modrinth.com/mod/lambdabettergrass">LambdaBetterGrass</a> (requires Indium if Sodium is present)</li>
	<li><a href="https://modrinth.com/mod/lambdynamiclights">LambDynamicLights</a></li>
	<li><a href="https://modrinth.com/mod/charmonium">Charmonium</a></li>
</ul>
<h2 id="cracked">Cracked</h2>
<p>The server goes off and on a lot. Sometimes, the server MOTD will show <b>CRACKED</b> in it. In this case, please use Direct Connect to join the server to avoid rendering issues.</p>
<h2 id="url">And Finally, The URL</h2>
<p>To join the game, connect to <b>mc.aroace.space</b>.</p>
{{include "/footer.html" "mc"}}
