{{include "/header.html" "Opinions"}}
<h1 id="title">My Opinions and How they Impact this Site</h1>
<p>This site is opinionated to be simple and clean. It is influenced by many of my opinions. I’ll start listing them and how they impact this site.</p>
<h2 id="make-things-accesible">Make things accesible</h2>
<p>Accessibility is a core pillar of making sites good. Anyone who doesn’t practice accessibility is honestly a Bad person, because on most platforms accessibility doesn’t require too much thought. That’s why all images on this site have alt text, why the site’s content may change to indicate a button in a screen reader, and more.</p>
<h2 id="make-things-non-addicting-and-calming">Make things non-addicting and calming</h2>
<p>Sepia is a calming monotone color scheme. So my whole website has a sepia filter applied to it. This not only makes the website more calming, it makes the site more warm and inviting while discouraging digital addiction.</p>
<h3 id="problems-with-the-sepia-filter">Problems with the Sepia Filter</h3>
<p>When hovering over something on a Chromebook, Night mode is known to break. This is a Chrome OS problem.</p>
<h2 id="make-things-cheaper">Make things cheaper</h2>
<p>I believe that <em>nobody</em> should have to pay extra to view a site, wait too long to view a tiny site, deal with downtime, and all that. That’s why my site uses multiple techniques to help make this true.</p>
<h3 id="dithering">Dithering</h3>
<p>Dithering is a technique to make images look similar while using less colors. All images on my site are dithered to reduce file size. It reduces a 750kb image to 150kb easily. All images are dithered to grayscale so the sepia processor does not die. The images are processed with <a href="https://ditherit.com">Dither it</a>.</p>
<h3 id="http-cache-control">HTTP Cache-Control</h3>
<p><a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control">HTTP Cache-Control</a> allows your computer to cache a website so every time you visit it it doesn’t need to connect to the server. This website allows you to visit and keep a cache (which is tiny, as this website’s also tiny) for 7 days. If the server’s not up, that cache lasts another 28 days.</p>
<h3 id="no-unnessescary-imports">No unnessescary imports</h3>
<p>Your browser won’t ask for yet another font to load in for this website. It won’t ask for even more crap you don’t need. All it will load is the text, styling, and any images; no other bloat.</p>
<h2 id="make-things-easy">Make things easy</h2>
<p>I believe that everything should be easy for both me and you for making this site and reading this site. That’s why I did the things below.</p>
<h3 id="monospace-is-easy-to-read">Monospace is Easy to Read…</h3>
<p>…so I made the site in monospace. Monospace fonts do not look bad, and have equal spacing so they align well and look easy to read. That’s why this site and my blog are both monospaced.</p>
<h3 id="templating">Templating</h3>
<p>The header with my profile picture and the footer with my webrings and blog are both rendered by my webserver, <a href="https://caddyserver.com">Caddy</a>, and are not static. This allows me to quickly, easily, and globally add a webring to my website when I join it.</p>
<h3 id="night-time-reading">Night-time Reading</h3>
<p>The coloring of this site will automatically update when the correct prefers-color-scheme is used to be dark.</p>
<h3 id="no-funny-css">No funny CSS</h2>
<p>Everything on this website is adaptive. There is nothing that I hate more than a non-adaptive site, which there are a lot of. They are a pain to read on mobile, which I use a lot. Sites that exclude people, I’m not a fan of.</p>
<h2 id="summary">Summary</h2>
<p>Many opinions of mine are here to change this website. It can be good or bad, depending on how you read it. Thank you for reading!</p>
<h2 id="resources">Resources</h2>
<p>Here are some resources I have derived these opinions from and where this site has been designed with ideas from.</p>
<ul>
<li><a class="h-entry p-name u-url" href="https://seirdy.one">seirdy.one</a>
<ul>
<li><a class="h-entry p-name u-url" href="https://seirdy.one/2020/11/23/website-best-practices.html">Best practices for inclusive textual websites</a></li>
</ul></li>
<li><a class="h-entry p-name u-url" href="https://solar.lowtechmagazine.com">solar.lowtechmagazine.com</a>
<ul>
<li><a class="h-entry p-name u-url" href="https://solar.lowtechmagazine.com/2020/01/how-sustainable-is-a-solar-powered-website.html">How Sustainable is a Solar Powered Website?</a></li>
</ul></li>
</ul>
{{include "/footer.html" "opinions"}}