{{include "/header.html" "Services"}}
<h1 id="title">My services</h1>
<p>I host a variety of services. I list all open ones here, however, I have some private ones that I only allow friends to use. If a hidden Tor service is available, the Tor Browser will display it and ask to upgrade.</p>
<dl class="h-feed">
<span class="h-entry">
	<dt><h2 id="libreddit"><a class="p-name u-url" href="https://aaa.aroace.space">Libreddit</a></h2></dt>
	<dd class="e-content">A program that allows you to view Reddit content without all the buffering and helping you be annonymous, since no requests are ever made to Reddit; everything is done through the server.</dd>
</span>
<span class="h-entry">
	<dt><h2 id="acp"><a class="p-name u-url" href="https://acp.aroace.space">acp</a></h2></dt>
	<dd class="e-content">the AROACE CONTAINMENT PROJECT focuses on containment of dangerous entities.</dd>
</span>
<span class="h-entry">
	<dt><h2 id="gts"><a class="p-name u-url" href="https://fedi.aroace.space">Fediace</a></h2></dt>
	<dd class="e-content">GoToSocial for aroaces! Run by me for me (mostly). Feel free to join, though! I modify the frontend a lot, though.</dd>
</span>
<span class="h-entry">
	<dt><h2 id="among-tech"><a class="p-name u-url" href="https://about.amongtech.cc">Among Tech</a></h2></dt>
	<dd class="e-content">Among Tech is my collection of public sites that anyone can use. There’s a lot on the directory, if you want to check it out!</dd>
</span>
</dl>
{{include "/footer.html" "services"}}
