{{include "/header.html" "Statistics"}}
<h1 id="title">Server and Client Statistics</h1>
<p>This page serves statistics about the server running this page and your computer and is templated by Caddy. No logs are stored of this, it’s just for fun.</p>
<h2 id="client-stats">Client Stats</h2>
{{ if .Req.Header.Get "Referer" }}
<p>You arrived at this page from <b>{{ .Req.Header.Get "Referer" }}</b>.</p>
{{end}}
<p>Your IP address is {{ .RemoteIP }}.</p>
<dd aria-role="text"><small>Note that if you’re accessing this website over Tor, the IP of the exit node you are using is displayed.</small></dd>
<h2 id="server-stats">Server Stats</h2>
<ul>
	<li>Running on Fedora 35</li>
	<li>Served with Caddy</li>
</ul>
{{include "/footer.html" "stats"}}