{{include "/header.html" "Webmention"}}
<h1 id="title">Webmentions</h1>
<p>This is my unified page where I put recieved Webmentions. You can send one with the form at the bottom of every page with the page you or someone else made linking directly to that page. If there is a Webmention on a page a section will exist for it here.</p>
<section aria-labelledby="index">
	<h2 id="index">Homepage</h2>
	<dl>
		<dt><h3><a href="https://pointers.dailywebthing.com/05-27-22/">Daily WebThing</a></h3></dt>
		<dd>On 05-27-22</dd>
	</dl>
</section>
<section aria-labelledby="The-Memetic-Leptaniform">
	<h2 id="The-Memetic-Leptaniform">The Memetic Leptaniform</h2>
	<dl>
		<dt><h3><a href="https://seirdy.one/bookmarks">Seirdy's Bookmarks</a></h3></dt>
		<dd>To leptaniforms, and spreading influence!</dd>
		<dt><h3><a href="https://xeras.amongtech.cc">amaryllis’ area</a></h3></dt>
		<dd>Backlink in sidebar.</dd>
	</dl>
</section>
<!-- template for webmenchies
<section aria-labelledby="link">
	<h2 id="link">link</h2>
	<dl>
		<dt><h3>No Webmentions</h3></dt>
		<dd>Send a Webmention to this page today!</dd>
	</dl>
</section> -->
{{include "/footer.html" "webmention"}}
