    @font-face {
      font-family: Cantarell Var;
      font-style: normal;
      font-weight: 100 200 300 400 500 600 700 800 900;
      src: local("Cantarell"), url("https://random.amongtech.cc/Cantarell-VF.woff2") format("woff2");
      font-display: swap;
    }
    :root {
      --font-color:  #000;
      --bg: #f6f5f4;
      --elev: #deddda;
    }
    @media only screen and (prefers-color-scheme: dark) {
      :root {
        --font-color:  #fff;
        --bg: #241f31;
        --elev: #3d3846;
      }
    }
    @media only screen and (prefers-contrast: more) {
        :root {
            --bg: #fff !important;
            --theme: #000 !important;
            --theme-grad: #000 !important;
            --elev: #ddd !important;
        }
        :root[data-theme=dark] {
            --font-color: #fff !important;
            --bg: #000 !important;
            --theme: #fff !important;
            --theme-grad: #000 !important;
            --elev: #444 !important;
        }
    }
    @media only print {
        :root {
            --bg: #fff !important;
            --theme: #000 !important;
            --elev: #ddd !important;
        }
        #top {
            display: none;
        }
        #links {
            display: none;
        }

    }
    @media only screen and (prefers-contrast: more) and (prefers-color-scheme: dark) {
        :root {
            --font-color:  #fff !important;
            --bg: #000 !important;
            --theme: #fff !important;
            --theme-grad: #000 !important;
        }
    }
    :root[data-theme=dark] {
        --font-color:  #fff;
        --bg: #241f31;
    }
    ::selection {
      background: var(--theme);
      color: var(--bg);
    }
    html {
        scroll-behavior: smooth;
    }
    * {
    	   font-family: "Cantarell Var", sans-serif;
        color: var(--font-color);
        font-variation-settings: 'wght' 400;
        font-weight: 400;
        box-sizing: border-box;
    }
    body {
    	    padding: 0;
        border: 0;
        margin: 0;
        background: var(--bg);
    }
    h1 {
    	    font-variation-settings: 'wght' 800;
        font-weight: 800;
        text-align: center;
        font-size: clamp(10pt, 20vw, 6vh);
        display: inline-block;
        color: var(--bg);
    }
    details summary::-webkit-details-marker {
      display:none;
    }
    #top {
        	display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 14px;
        background: var(--theme-grad);
        border: 0 !important;
        margin: none !important;
        box-sizing: border-box;
        border-radius: 0 0 18px 18px;
    }
    #top > img {
    	height: min(30vh, 90vw);
    	width: min(30vh, 90vw);
    }
    #jsw {
        text-align: center;
    	width: min(90vw, 40em);
        margin: 0 auto;
    }
    #jsw > h3 {
    	margin: 0 auto;
        font-size: clamp(5pt, 10vw, 1.1em);
    }
    ::-webkit-scrollbar {
    	color: var(--bg);
        background: var(--bg);
        width: 0.5em;
    }
    ::-webkit-scrollbar-thumb {
    	color: var(--theme);
        background: var(--theme);
        border-radius: 3.5em;
        border: 2px var(--bg) solid;
    }
    .imgtxt {
    	display: flex;
        justify-content: center;
        flex-direction: row;
        max-width: 48em;
        margin: auto;
    }
    .imgtxt > img, .imgtxt > video, .imgtxt > div {
    	    width:  min(22em, 40vw);
    	    height: auto;
        margin: 1em;
    }
    .imgtxt > div > img, .imgtxt > div > video {
        margin: none;
        width: min(22em, 40vw);
        height: auto;
    }
    .revbox {
    	flex-direction: row-reverse;
    }
    @media only screen and (orientation: portrait) {
    	.imgtxt > img, .imgtxt > video, .imgtxt > div {
        position: relative;
    		width: 90vw;
    		height: auto;
        margin: 5vw;
    	}
    	details > .imgtxt > img, details > .imgtxt > video, details > .imgtxt > div > img, details > .imgtxt > div > video {
    	  display: block;
    	  margin: auto;
    	  margin-bottom: 5vw;
    	  margin-top: 5vw;
    	  width: 70vw !important;
    	}
    	details > .imgtxt > div {
    	  position: relative;
    	  left: -5vw;
    	  padding: 5vw;
    	  width: 80vw !important;
    	}
    	details {
    	  margin-left: 5vw;
    	  margin-right: 5vw;
    	  padding: 5vw;
    	}
    	.imgtxt > div > img, .imgtxt > div > video {
    	    width: 90vw;
    	    height: auto;
    	    position: relative;
    	    margin: none;
    	}
      .imgtxt {
        	flex-direction: column-reverse;
      }
      .textflow {
          flex-direction: column !important;
      }
    }
    a, a:visited {
    	color: var(--theme-text);
        transition: 0.5s ease;
    }
    a:hover, a:active {
    	color: var(--theme);
    }
    b {
    	font-weight: 500;
        font-variation-settings: 'wght' 500;
   	}
    a.button {
    	display: inline-block;
    	padding: 1em 1em 1em 3.5em;
        position: relative;
        background: var(--bg);
        color: var(--theme);
        border: 2px solid var(--bg);
        border-radius: 1em;
        transition: 0.5s ease;
        font-size: 1.5em;
        font-weight: 700;
        font-variation-settings: 'wght' 700;
        text-decoration: none;
        width: min(75vw, 10em);
        margin: 1em;
    }
    a.button:hover {
        color: var(--bg);
        background: var(--theme);
    }
    a.n {
    	background: var(--theme);
        color: var(--bg);
        border: 2px solid var(--theme);
        margin-bottom: 2em;
        width: auto;
    }
    a.n:hover {
        color: var(--theme) !important;
        background: var(--bg);
    }
    a.button > img {
		width: 1.5em;
		height: 1.5em;
	}
    a.button > svg {
    	position: absolute;
    	display: inline-block;
        height: 1.5em;
        left: 1em;
        top: 0.9em;
        width: 1.5em;
        margin-bottom: 0.2em;
        transition: fill 0.5s ease;
    }
    a.button.svg {
    	height: 3.5em;
    	width: 3.5em;
    	padding: 1em;
    }
    a.button.nosvg {
      padding: 1em;
    }
    a.button.linked-left {
      border-radius: 1em 0 0 1em;
      margin-right: 0 !important;
      border-right: none;
      height: 3.5em;
    }
    a.button.linked-mid {
      border-radius: 0;
      margin-left: 0 !important;
      margin-right: 0 !important;
      border-right: none !important;
      border-left: none;
      height: 3.5em !important;
      width: auto !important;
    }
    a.button.linked-right {
      border-radius: 0 1em 1em 0;
      margin-left: 0 !important;
      border-left: none;
      height: 3.5em;
    }
    a.n:hover > svg > g {
      	fill: var(--theme) !important;
    }
    a.button:hover > svg > g {
    	  fill: var(--bg);
    }
    #links {
    	display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        padding: 14px;
        background: var(--theme-grad);
        border: 0 !important;
        margin: none !important;
        box-sizing: border-box;
        border-radius: 1em 1em 0 0;
        flex-wrap: wrap;
    }
    #links > .linked {
    display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    img, video {
    	border-radius: 1em;
    	height: auto;
    }
    details {
      width: min(48em, 84vw);
      border-radius: 24px;
      background-color: var(--elev);
      margin: 0 auto;
      padding: 6px;
      margin-bottom: 12px;
      margin-top: 12px;
      transition: 0.5s ease;
    }
    summary::marker {
      content: '';
    }
    .moz {display: none;}
    @supports (-moz-hyphens:none) {
	.moz {display: initial;}
	.nomoz {display: none;}
    }
