{{ include "/header.html" "A Fediverse Intro" }}
<span class="h-entry">
<h1 id="title" class="p-title">A Fediverse Intro</h1>
<aside><p id="info">1939 words, a <time>10&#160;minute</time> read | Made Sunday, Jul 17, 2022</p></aside>
<article class="e-content"><p>Hello, weary traveler! You have happened upon my guide to the Fediverse, containing all I think is nessescary for new people. Let&rsquo;s begin!</p>
<h2 id="what-even-is-the-fediverse">What even <em>is</em> the Fediverse?</h2>
<p>Imagine this scenario: A group of people are dissatisfied with Twitter&rsquo;s rules, so they make their own Twitter that people on Twitter can interact with and vice versa. These people on the new Twitter also can interact with Instagram and Facebook and YouTube, and best of all: there are many of this new Twitter. More people make new YouTubes, Instagrams, and Facebooks, and they all talk together.</p>
<p>Now stop imagining it! This is what the Fediverse (referred to as Fedi sometimes) does, except it doesn&rsquo;t talk to Twitter, Facebook, et al. Instead, it can talk to any server implementing the <strong>ActivityPub</strong> protocol, which is what makes the Fediverse. It is not a software, it is a communication method. It can be deployed on a server, and then that server is called an <strong>instance</strong> that engages in <strong>federation</strong> with other instances (basically, communicating).</p>
<h3 id="what-can-i-use-in-the-fediverse-that-is-similar-to-what-i-already-use">What can I use in the Fediverse that is similar to what I already use?</h3>
<ul>
<li><em>Twitter</em> is now <em><a href="https://joinmastodon.org">Mastodon</a>, <a href="https://gts.superseriousbusiness.org">GoToSocial</a>, <a href="https://join.misskey.page">Misskey</a>, and <a href="https://akkoma.dev">Akkoma</a></em>. There&rsquo;s lots of choice! Of course, you may also <a href="https://beta.birdsite.live">mirror from Twitter to Fedi</a> or <a href="https://nitter.42l.fr">view it privately</a>.</li>
<li><em>Instagram</em> is now <em><a href="https://pixelfed.org">Pixelfed</a></em>.</li>
<li><em>YouTube</em> is now <em><a href="https://joinpeertube.org/">PeerTube</a></em>. You may also view YouTube <a href="https://piped.mint.lgbt">privately</a>.</li>
<li><em>Reddit</em> has no replacement, but can be viewed <a href="https://aaa.aroace.space">privately</a>.</li>
</ul>
<h2 id="theres-upsides-and-downsides-right">There&rsquo;s upsides and downsides, right?</h2>
<p>The Fediverse has upsides and downsides, like everything.</p>
<h3 id="upsides">Upsides</h3>
<ul>
<li><strong>No tracking or ads</strong> - Ever. The software is simply not designed to do that.</li>
<li><strong>No algorithms</strong> - same as above!</li>
<li><strong>Make your own rules</strong> - If you don&rsquo;t like someone else&rsquo;s rules, you can make your own community instance. With stricter or more relaxed rules.</li>
<li><strong>Domain blocking</strong> - Blocking bad people is more effecient with domain blocking.</li>
<li><strong>Custom emojis</strong> (sometimes) - you can make your own emojis to use!</li>
<li><strong>Accessibility</strong> - more accessible due to image descriptions.</li>
<li><strong>Decentralized</strong> (not like web3 garbage) - no entity can truly own the Fediverse.</li>
<li><strong>Content warnings</strong> - hide content behind a CW to warn people.</li>
<li><strong>Smaller communities</strong> - allows a sense of togetherness and good moderation.</li>
<li><strong>No evil design</strong> - no dark patterns and stuff.</li>
</ul>
<h3 id="downsides">Downsides</h3>
<ul>
<li><strong>Make your own rules</strong> - This is also a downside. Pedophiles, transphobes, bigots, fascists, and nazis can make their own instances. And they do! Thankfully, you can block them easily with domain blocking.</li>
<li><strong>Power to the admins</strong> - the server admin has power over all community members. But less so than Twitter.</li>
<li><strong>No federation to Twitter and things</strong> - they do not use ActivityPub. They trap you with the <em>network effect</em>.</li>
</ul>
<h2 id="but-all-these-places-are-empty-how-do-i-even-join">But all these places are empty, how do I even join?</h2>
<p>You need to feel the groove of Fedi. Feel the ups and downs, find people that you can bond with, and surround yourself with nice people. And without any corporate meddling too, Fedi is very anarchist and anti-capitalist.</p>
<h2 id="i-want-to-join-i-will-make-an-account-on-mastodonsocialhttpsmastodonsocial">I want to join, I will make an account on <a href="https://mastodon.social"><code>mastodon.social</code></a>!</h2>
<p>Wait- no! Please don&rsquo;t. <code>mastodon.social</code> is the flagship instance, and all the newcomers join it, overcrowding it. It&rsquo;s too big and can&rsquo;t be moderated effectively, and has ethical concerns, so some users add it to their domain blocks. Same with <a href="https://mastodon.online"><code>mastodon.online</code></a>.</p>
<h2 id="waittt-a-second-how-do-i-join-and-interact-then">Waittt a second… How do I join and interact then?</h2>
<p>Join another instance! You should start on a more common instance and work your way into the fibers of the Fediverse. Here are some of my reccomendations!</p>
<ul>
<li>
<p><a href="https://eldritch.cafe"><code>eldritch.cafe</code></a> - an instance for queer people</p>
</li>
<li>
<p><a href="https://catcatnya.com"><code>catcatnya.com</code></a> - an instance for queer people and cats</p>
</li>
<li>
<p><a href="https://queer.party"><code>queer.party</code></a> - gay instance</p>
</li>
<li>
<p><a href="https://kolektiva.social"><code>kolektiva.social</code></a> - activism</p>
</li>
<li>
<p>and more!</p>
</li>
</ul>
<h2 id="alright-ill-download-the-mastodon-app-and-get-to-it">Alright, I&rsquo;ll download the Mastodon app and get to it!</h2>
<p>Please don&rsquo;t. They have similar issues to <code>mastodon.social</code>, which is trying to introduce algorithms and centralization into the Fediverse. Use an app like <a href="https://tusky.app">Tusky</a> or Metatext instead. However, you need to make an account on the website before signing in with an app.</p>
<h2 id="but-why-choose-another-instance-if-fedi-is-the-same-through-all-instances">But why choose another instance if Fedi is the same through all instances?</h2>
<ul>
<li><strong>Local users</strong> - people on your instance help curate your content by following and boosting.</li>
<li><strong>Different properties</strong> - Different instances can have different themes, emojis, character limits, etc.</li>
<li><strong>Different rules</strong> - Different instances can have stricter (<a href="https://fedi.aroace.space"><code>fedi.aroace.space</code></a>, <a href="https://transmom.love/about/more"><code>transmom.love</code></a>) or more relaxed (<a href="https://mstdn.social/about/more"><code>mstdn.social</code></a>) rules. The instances with the most relaxed rules tend to get blocked by the more strict rule instances easier.</li>
</ul>
<h2 id="all-this-instance-talk-makes-me-wonder-how-to-mention-people">All this instance talk makes me wonder how to mention people.</h2>
<p>Let&rsquo;s say there are 2 instances, <code>fedi.aroace.space</code> and <a href="https://toot.site"><code>toot.site</code></a>. Let&rsquo;s say I am on the former. Let&rsquo;s say I want to mention <a href="https://fedi.aroace.space/@lilith">Lilith from <code>fedi.aroace.space</code></a>. Since me and Lilith are on the same instance, the mentions work like twitter, so I would write <code>@lilith</code>.  But, let&rsquo;s say I wanted to mention <a href="https://toot.site/@meave">Meave from <code>toot.site</code></a>. Meave is not on the same instance as me, so I have to find the federating URL (like <code>toot.site</code>, <a href="https://mastodon.chir.rs"><code>chir.rs</code></a>) and put that <em>after</em> their normal mention. In this case, it would be <code>@meave@toot.site</code>.</p>
<h3 id="whats-the-difference-between-the-instance-url-and-the-federating-url">What&rsquo;s the difference between the instance URL and the federating URL?</h3>
<p>The federating URL may sometimes be different. Take for example, <code>chir.rs</code>: it federates under the name <code>chir.rs</code> but the actual location of it is <code>mastodon.chir.rs</code>.</p>
<h2 id="what-are-these-domain-blocks-you-talk-about">What are these domain blocks you talk about?</h2>
<p>It means one instance will reject any federation to or from the said instance. This allows you to efficiently block undesirable people. People call this <strong>defederation</strong> or <strong>fediblocking</strong>. People share recommendations to block instances on the <em><strong>#FediBlock</strong></em> hashtag, meaning that transphobes and other bad people can be blocked within a day if they do something bad. Now novody on the instances that block it can be affected by their toxicity!</p>
<h2 id="sounds-dystopic-i-dont-like-it">Sounds dystopic. I don&rsquo;t like it.</h2>
<p>Join a free speech instance then! Of course, we won&rsquo;t federate with one another. It&rsquo;s for the best. Access to other instances is a right.</p>
<h2 id="why-is-it-so-good">Why is it so good?</h2>
<p>It mostly boils down to two things:</p>
<ul>
<li>You do not interact with other instances&rsquo; content. You interact with a cached copy. Other instances&rsquo; content is called <strong>remote content</strong>.</li>
<li>You only see remote content that your instance is aware of.
Instances get remote content through these methods:</li>
<li>Getting posts from someone a user follows</li>
<li>Getting a boost (Retweet) from someone a user follows</li>
<li>A user pasting a URL of a post into the search box</li>
<li>Checking for the posts/replies a remote reply post is replying to.</li>
</ul>
<h3 id="gib-an-example">Gib an example!</h3>
<p>Let&rsquo;s make up 3 instances. They are aroace.social, bisexual.website, and transgender.services. Let&rsquo;s say @lena@aroace.social made a Public post saying “I like pears”. This post appears in her Home, Local, and Federated timelines. Then she posts “I like grapefruit” with an Unlisted visibility. This only appears on her Home timeline. @maya@aroace.social does not follow Lena, and as such sees the pears post in her Local and Federated timelines but not the Home timeline. She does not see the grapefruit post. However, @manta@bisexual.website follows Lena and bisexual.website gets new posts from aroace.social, getting both the pears and grapefruit posts. She sees the pears posts on the Home and Federated timelines and the grapefruit post on the Home timeline. @bli@transgender.services follows @manta@bisexual.website and Manta boosts the pears post, therefore federating it to transgender.services which did not know about aroace.social before. transgender.services does not know about the grapefruit post at all, until Manta replies to it saying “Same!”. Then, transgender.services gets the replied to and federates it.</p>
<p>Bit of a handful, right? No worries. This isn&rsquo;t too big of a thing. The same thing is for favorites (likes), replies, and boosts (retweets).</p>
<h2 id="i-see-people-talking-about-secure-mode-a-lot-whats-that">I see people talking about secure mode a lot. What&rsquo;s that?</h2>
<p>Take the example from before. Let&rsquo;s say aroace.social defederated from evil.moe. However, bisexual.website federates with both. Let&rsquo;s say @SerialKiller@evil.moe follows Manta. When Manta replies, evil.moe fetches the reply, but then tries to fetch the original post and fails. It then removes its signature as evil.moe and tries to get the post, and success. This is how block evasion happens on Fedi. Secure mode breaks this. It forces all servers to tell it what server they are or it will not give the post. This is a very good feature but <strong>not on by default</strong>. Some instances that have it on are <code>toot.site</code> and <code>catcatnya.com</code>. This can only be enabled by the admin, so watch out.</p>
<h2 id="what-are-these-home-and-unlisted-things">What are these Home and Unlisted things?</h2>
<p>They&rsquo;re the names of the timelines. You have 4 main timelines: <em>Home</em>, <em>Notifications</em>, <em>Local</em>, and <em>Federated</em>. The <em>Home</em> timeline shows the posts of the people you follow in a chronological order. No algorithms. Same with all the timelines. <em>Notifications</em> is self-explanatory. <em>Local</em> is all of the <em>Public</em> posts made by users <em>on your instance</em>, and <em>Federated</em> is public posts made by <em>all known users</em>.</p>
<h2 id="whats-public-post">What&rsquo;s Public post?</h2>
<p>Mastodon has 4 visibilities for posts: <em>Public</em>, <em>Unlisted</em>, <em>Followers</em>, and <em>Direct</em>. <em>Public</em> posts the post to public timelines and hashtags. The post is boostable. <em>Unlisted</em> is the same as Public, except it does not appear in public timelines. <em>Followers</em> posts the post to only your followers and anyone mentioned in the post, and it is not boostable. <em>Direct</em> is the same as <em>Followers</em> but it only posts to the people mentioned. These posts are not encrypted, so do not use them to send sensitive info.</p>
<h2 id="people-are-complaining-at-me-but-im-doing-nothing-wrong">People are complaining at me but I&rsquo;m doing nothing wrong!</h2>
<p>You may be doing these things wrong:</p>
<ul>
<li>Not captioning media</li>
<li>Not using CWs</li>
<li>Improperly capitalizing hashtags
To caption an image, use the little pencil or A✓ in the corner to add a caption before posting. It is proper etiquette on Fedi to use captions. also use #CamelCaseHashtags like that not #likethis, as the 2nd type is not readable by screen readers.</li>
</ul>
<h2 id="what-should-i-cw">What should I CW?</h2>
<ul>
<li>mh - mental health</li>
<li>ph - physical health</li>
<li>selfie ec - selfie with eye contact</li>
<li>selfie no ec - selfie with no eye contact</li>
<li>+/- - positive or negative</li>
<li>irl - real life</li>
<li>alc - alcohol</li>
<li>sui - suicide</li>
<li>lewd, nsfw - what it says on the tin. nafw is a bit spicier though</li>
<li>meta - posting about the fediverse</li>
<li>caps - all caps somewhere</li>
<li>screenreader bad - bad for screenreaders</li>
<li>tone indicators can be put in the cw</li>
</ul>
<p>That is a non exhaustive list. if in doubt, cw it.</p>
<h2 id="theres-different-software-what-are-the-differences">There&rsquo;s different software, what are the differences?</h2>
<h3 id="mastodon">Mastodon</h3>
<p>This guide covers using Mastodon and Mastodon apps. All features in this guide are present in Mastodon. I will document <em>differences</em> from Mastodon here.</p>
<h3 id="hometown">Hometown</h3>
<p>Nearly Mastodon, <em>except</em> you can make posts that never leave your instance.</p>
<h3 id="glitchsoc">Glitchsoc</h3>
<p>Nearly Hometown, except you can post in Markdown (learn that <a href="https://www.markdowntutorial.com/">here</a>) and the webapp has more features (like collapsing toots and a pop-in player).</p>
<h3 id="akkoma">Akkoma</h3>
<p>The webapp for Akkoma is completely different than Mastodon. It also provides extra features such as emoji and custom emoji reacts. However, note that trying to view a post on instances of Akkoma, logged in or not, requires JavaScript unlike Mastodon, Hometown, and Glitchsoc. Akkoma also does not support federating URLs, and uses instance URLs instead.</p>
<h3 id="misskey">Misskey</h3>
<p>Misskey is way different than both of these, but has the same features of Akkoma. However, unlike Akkoma, you cannot use it with Mastodon apps. Misskey has very poor accessibility support, and like Akkoma, requires JS (but even more so) to view posts. Misskey does not have secure mode, so I do not reccomend using Misskey.</p>
<h3 id="gotosocial">GoToSocial</h3>
<p>GoToSocial works mostly like Mastodon, except it has secure mode always on and does not have a WebUI. Furthermore, only Public posts are shown on the frontend.</p>
<h2 id="thats-it-for-now">That&rsquo;s it for now!</h2>
<p>Please contact me if you want to add more to this or any questions. Have fun!</p>
</article>
<hr>
<aside aria-labelledby="continuereading">
	<nav aria-labelledby="continuereading">
		<h2 id="continuereading">Continue Reading</h2>
		<ul>
			<li><a href="/blog/nuanced-take-on-theming.html" rel="prev">Previous post: Nuanced Take on Theming</a></li>
			<li><a href="/blog">Back to Blog</a></li>
	</nav>
</aside>
</span>
{{ include "/footer.html" "a-fediverse-intro" }}