{{ include "/header.html" "Blog" }}
<h1 id="blog">Welcome to my blog!</h1>
<p>I write about various things here. You may explore them below.</p>
<dl class="h-feed">

<article aria-labelledby="a-fediverse-intro" class="h-entry">
<dt><h2><a id="a-fediverse-intro" class="p-name u-url" href="/blog/guide-to-fediverse.html">A Fediverse Intro</a></h2></dt>
<dd class="e-content">Made on Sunday, Jul 17, 2022; 1939 words, a <time>10&#160;minute</time> read</dd>
</article>

<article aria-labelledby="nuanced-take-on-theming" class="h-entry">
<dt><h2><a id="nuanced-take-on-theming" class="p-name u-url" href="/blog/nuanced-take-on-theming.html">Nuanced Take on Theming</a></h2></dt>
<dd class="e-content">Made on Thursday, Jun 9, 2022; 470 words, a <time>3&#160;minute</time> read</dd>
</article>

<article aria-labelledby="my-site-review-specification" class="h-entry">
<dt><h2><a id="my-site-review-specification" class="p-name u-url" href="/blog/site-review-spec.html">My Site Review Specification</a></h2></dt>
<dd class="e-content">Made on Friday, May 27, 2022; 346 words, a <time>2&#160;minute</time> read</dd>
</article>

<article aria-labelledby="caddy-starting-guide" class="h-entry">
<dt><h2><a id="caddy-starting-guide" class="p-name u-url" href="/blog/caddy-start-guide.html">Caddy Starting Guide</a></h2></dt>
<dd class="e-content">Made on Friday, May 20, 2022; 403 words, a <time>2&#160;minute</time> read</dd>
</article>

<article aria-labelledby="making-a-hugo-blog" class="h-entry">
<dt><h2><a id="making-a-hugo-blog" class="p-name u-url" href="/blog/making-hugo-blog.html">Making a Hugo Blog</a></h2></dt>
<dd class="e-content">Made on Thursday, May 19, 2022; 451 words, a <time>3&#160;minute</time> read</dd>
</article>

<article aria-labelledby="of-isms-and-phobias-and-other-things" class="h-entry">
<dt><h2><a id="of-isms-and-phobias-and-other-things" class="p-name u-url" href="/blog/of-isms-and-phobias-and-other-things.html">Of Isms and Phobias and Other Things</a></h2></dt>
<dd class="e-content">Made on Thursday, May 12, 2022; 263 words, a <time>2&#160;minute</time> read</dd>
</article>

<article aria-labelledby="a-story-im-writing" class="h-entry">
<dt><h2><a id="a-story-im-writing" class="p-name u-url" href="/blog/a-story-im-writing.html">A Story I’m Writing</a></h2></dt>
<dd class="e-content">Made on Friday, May 6, 2022; 444 words, a <time>3&#160;minute</time> read</dd>
</article>

<article aria-labelledby="make-a-server-for-you-and-your-friends" class="h-entry">
<dt><h2><a id="make-a-server-for-you-and-your-friends" class="p-name u-url" href="/blog/make-a-server-for-you-and-your-friends.html">Make a Server for You and your Friends</a></h2></dt>
<dd class="e-content">Made on Thursday, May 5, 2022; 1239 words, a <time>6&#160;minute</time> read</dd>
</article>

<article aria-labelledby="musings-from-my-brain" class="h-entry">
<dt><h2><a id="musings-from-my-brain" class="p-name u-url" href="/blog/musings-from-my-brain.html">Musings from my brain</a></h2></dt>
<dd class="e-content">Made on Wednesday, May 4, 2022; 777 words, a <time>4&#160;minute</time> read</dd>
</article>

<article aria-labelledby="observations-of-people-and-gratefulness" class="h-entry">
<dt><h2><a id="observations-of-people-and-gratefulness" class="p-name u-url" href="/blog/observations-of-people-and-gratefulness.html">Observations of People and Gratefulness</a></h2></dt>
<dd class="e-content">Made on Tuesday, May 3, 2022; 72 words, a <time>1&#160;minute</time> read</dd>
</article>

<article aria-labelledby="my-english-teacher-just-quit" class="h-entry">
<dt><h2><a id="my-english-teacher-just-quit" class="p-name u-url" href="/blog/my-english-teacher-just-quit.html">My English Teacher Just Quit</a></h2></dt>
<dd class="e-content">Made on Monday, May 2, 2022; 360 words, a <time>2&#160;minute</time> read</dd>
</article>

<article aria-labelledby="nvidia-actually-got-hacked" class="h-entry">
<dt><h2><a id="nvidia-actually-got-hacked" class="p-name u-url" href="/blog/nvidia-actually-got-hacked.html">NVIDIA Actually Got Hacked</a></h2></dt>
<dd class="e-content">Made on Monday, May 2, 2022; 423 words, a <time>2&#160;minute</time> read</dd>
</article>

<article aria-labelledby="the-problem-with-customizations" class="h-entry">
<dt><h2><a id="the-problem-with-customizations" class="p-name u-url" href="/blog/the-problem-with-customizations.html">The Problem With Customizations</a></h2></dt>
<dd class="e-content">Made on Monday, May 2, 2022; 540 words, a <time>3&#160;minute</time> read</dd>
</article>

<article aria-labelledby="on-font-imports" class="h-entry">
<dt><h2><a id="on-font-imports" class="p-name u-url" href="/blog/on-font-imports.html">On Font Imports</a></h2></dt>
<dd class="e-content">Made on Sunday, May 1, 2022; 355 words, a <time>2&#160;minute</time> read</dd>
</article>

<article aria-labelledby="a-new-orleans-thing" class="h-entry">
<dt><h2><a id="a-new-orleans-thing" class="p-name u-url" href="/blog/a-new-orleans-thing-i-guess.html">A New Orleans Thing</a></h2></dt>
<dd class="e-content">Made on Saturday, Apr 30, 2022; 546 words, a <time>3&#160;minute</time> read</dd>
</article>

</dl>
<p>Enjoy my blog, and thank you!</p>
{{ include "/footer.html" "blog" }}