{{ include "/header.html" "Making a Hugo Blog" }}
<span class="h-entry">
<h1 id="title" class="p-title">Making a Hugo Blog</h1>
<aside><p id="info">451 words, a <time>3&#160;minute</time> read | Made Thursday, May 19, 2022</p></aside>
<article class="e-content"><p>It’s not hard starting to make a blog with <a class="h-entry p-name u-url" href="https://gohugo.io">Hugo</a>.  All it requires is knowing how to use Markdown and Git, and if you want to make your own theme, knowing how to use HTML with Go templating. Anyway, I’ll outline how to make a blog with Hugo now.</p>
<h2 id="get-set-up">Get Set Up</h2>
<p>First, <a class="h-entry p-name u-url" href="https://gohugo.io/getting-started/installing">install Hugo</a> and <a class="h-entry p-name u-url" href="https://git-scm.com/">git</a>. Then, once that’s done, run:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span>hugo new site pages
</span></span><span style="display:flex;"><span>cd pages
</span></span><span style="display:flex;"><span>git init
</span></span></code></pre></div><p>This should make a new <strong>Hugo site</strong> with a <strong>Git repository</strong> which will allow easy website deployment and syncronization.</p>
<p>You should be aware that this guide assumes that you are using a Mac/Linux computer</p>
<h3 id="i-want-to-deploy-my-site-on-githubcodeberg-pages">I want to deploy my site on Github/Codeberg Pages</h3>
<h4 id="on-github">On GitHub</h4>
<p>Make a repository underneath your username, one named <code>my-pages</code> and one named <code>{username}.github.io</code> where <code>{username}</code> is your username. Make sure both are empty, and you have <a class="h-entry p-name u-url" href="https://docs.github.com/en/authentication/connecting-to-github-with-ssh">SSH in GitHub</a>.</p>
<h4 id="on-codeberg">On Codeberg</h4>
<p>Make a repository <code>my-pages</code> and <code>pages</code>, both need to be empty. Make sure you have <a class="h-entry p-name u-url" href="https://docs.codeberg.org/security/ssh-key/">SSH in Codeberg</a>.</p>
<h4 id="for-both">For Both</h4>
<p>Run the following commands in your terminal (the terminal is very often used here):</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span>cd public
</span></span><span style="display:flex;"><span>git submodule add <span style="color:#f92672">{</span>subLink<span style="color:#f92672">}</span>
</span></span></code></pre></div><p>Replace <code>{subLink}</code> with the following URL, replacing <code>{username}</code> with your username:</p>
<ul>
<li>GitHub: <code>git@github.com:{username}/{username}.github.io.git</code></li>
<li>Codeberg: <code>git@codeberg.org:{username}/pages.git</code></li>
</ul>
<p>This should make it so that when Hugo makes your site, it can be deployed on your page directly.</p>
<h2 id="a-classh-entry-p-name-u-url-hrefhttpsgohugoiogetting-startedquick-startstep-3-add-a-themefollow-the-hugo-tutoriala"><a class="h-entry p-name u-url" href="https://gohugo.io/getting-started/quick-start/#step-3-add-a-theme">Follow the Hugo tutorial…</a></h2>
<p>The Hugo tutorial is a good starting point for making a good blog.</p>
<h3 id="deploying-with-git">Deploying with Git</h3>
<p>To deploy once you build with <code>hugo</code>, run the following commands:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span>cd public
</span></span><span style="display:flex;"><span>git add -A
</span></span><span style="display:flex;"><span>git commit -m <span style="color:#e6db74">&#34;Update page content&#34;</span>
</span></span><span style="display:flex;"><span>git push
</span></span></code></pre></div><p>and it should update the static page.</p>
<h3 id="deploying-with-caddy">Deploying with Caddy</h3>
<p>Once you run <code>hugo</code>, move out of the <code>pages</code> directory to the directory containing it and run these commands:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span>scp -r pages/ root@<span style="color:#f92672">{</span>your server ip/addr<span style="color:#f92672">}</span>:/root/pages
</span></span><span style="display:flex;"><span>ssh root@<span style="color:#f92672">{</span>your server ip/addr<span style="color:#f92672">}</span>
</span></span><span style="display:flex;"><span><span style="color:#75715e"># in ssh</span>
</span></span><span style="display:flex;"><span>nano Caddyfile
</span></span><span style="display:flex;"><span><span style="color:#75715e"># in nano, add this for your site</span>
</span></span><span style="display:flex;"><span><span style="color:#e6db74">&#34;&#34;&#34;
</span></span></span><span style="display:flex;"><span><span style="color:#e6db74">blog.example.com {
</span></span></span><span style="display:flex;"><span><span style="color:#e6db74">    root * /root/pages/public
</span></span></span><span style="display:flex;"><span><span style="color:#e6db74">    file_server
</span></span></span><span style="display:flex;"><span><span style="color:#e6db74">}
</span></span></span><span style="display:flex;"><span><span style="color:#e6db74">&#34;&#34;&#34;</span>
</span></span><span style="display:flex;"><span><span style="color:#75715e"># replacing the url with the one you have, then save and exit and run</span>
</span></span><span style="display:flex;"><span>caddy reload
</span></span></code></pre></div><p>This assumes you are running the <a class="h-entry p-name u-url" href="https://caddyserver.com">Caddy webserver</a> on your server.</p>
<h2 id="or-make-your-own-theme">…or make your own theme</h2>
<p>In the sites directory, run the command:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span>hugo theme new mytheme
</span></span></code></pre></div><p>and add</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-toml" data-lang="toml"><span style="display:flex;"><span><span style="color:#a6e22e">theme</span> = <span style="color:#a6e22e">mytheme</span>
</span></span></code></pre></div><p>to your <code>config.toml</code>. You can modify the files following:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span>themes/mytheme/layouts/partials/head.html <span style="color:#75715e"># head in HTML for every site</span>
</span></span><span style="display:flex;"><span>themes/mytheme/layouts/partials/header.html <span style="color:#75715e"># header for every site</span>
</span></span><span style="display:flex;"><span>themes/mytheme/layouts/partials/footer.html <span style="color:#75715e"># footer for every site</span>
</span></span><span style="display:flex;"><span>themes/mytheme/layouts/_default/baseof.html <span style="color:#75715e"># base of every site</span>
</span></span><span style="display:flex;"><span>themes/mytheme/layouts/_default/single.html <span style="color:#75715e"># base of viewing 1 blog post</span>
</span></span><span style="display:flex;"><span>themes/mytheme/layouts/_default/list.html <span style="color:#75715e"># list of posts</span>
</span></span><span style="display:flex;"><span>themes/mytheme/layouts/index.html <span style="color:#75715e"># homepage</span>
</span></span></code></pre></div><p>You may also run the following command to get a more sensible RSS template:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span>cd themes/mytheme/layouts/_default
</span></span><span style="display:flex;"><span>curl -Lo index.rss.xml https://codeberg.org/foreverxml/my-pages/raw/branch/main/blogsrc/themes/aroacespace/layouts/_default/index.rss.xml
</span></span></code></pre></div><p>This requires <code>curl</code> to be installed.</p>
</article>
<hr>
<aside aria-labelledby="continuereading">
	<nav aria-labelledby="continuereading">
		<h2 id="continuereading">Continue Reading</h2>
		<ul>
			<li><a href="/blog/of-isms-and-phobias-and-other-things.html" rel="prev">Previous post: Of Isms and Phobias and Other Things</a></li>
			<li><a href="/blog/caddy-start-guide.html" rel="next">Next post: Caddy Starting Guide</a></li>
			<li><a href="/blog">Back to Blog</a></li>
	</nav>
</aside>
</span>
{{ include "/footer.html" "making-a-hugo-blog" }}