{{ include "/header.html" "Musings from my brain" }}
<span class="h-entry">
<h1 id="title" class="p-title">Musings from my brain</h1>
<aside><p id="info">777 words, a <time>4&#160;minute</time> read | Made Wednesday, May 4, 2022</p></aside>
<article class="e-content"><p><em>As the snow falls soft
Lit by only the bright moon,
I feel pure calmness</em></p>
<p>This week’s been a rough ride. I lost some friends, the aggression has been happening, and more. But that aside. I will rant about other things. They may be hot topics, especially if you’re a straight man.</p>
<h4 id="this-post-uses-reclaimed-slurs-and-curse-words"><em>This post uses reclaimed slurs and curse words.</em></h4>
<h2 id="the-behavior-of-straight-men-is-in-a-nutshell-trash">The Behavior of Straight Men is, in a nutshell, Trash</h2>
<p><em>Phew</em>, this is gonna be a hot one. So, ahem. I’m still in grade school (not revealing my exact grade, somewhere about or near high school). And misogynism is <em>already</em> forming in the boys in my school. Get ready for <em>drama</em>, and this document <em>does have</em> slurs that I’m permitted to say.</p>
<h3 id="example-one">Example One</h3>
<p>Local idiot, who gives out N-word passes and his friends say racial slurs with him, says he &ldquo;hates women and men are better&rdquo;. He then, proceeds to look for a girlfriend.</p>
<p>Calling women “faggot” (Yes, he called me that. I’m a lesbian.) isn’t gonna get you a girlfriend. It’s not funny.</p>
<h3 id="example-two">Example Two</h3>
<p>Sits next to me in art and science. Made a list of everyone. With gender and pronouns. Creepy as hell. Furthermore, a classmate (she/they) went up to him and said “I’m she/they, could you please change that?”</p>
<p>He said, and I quote:</p>
<blockquote>
<p>No, because female is your biological gender.</p>
</blockquote>
<p>What the hell are you doing? Are you making a who’s hot and who’s not list? Stop fucking objectifying people based on assumed birth anatomy. I could be trans and you wouldn’t even know. Shut the fuck up.</p>
<h3 id="example-three">Example Three</h3>
<p>There’s a kid in my school. He says retard too much. He’s NT. He’s called me retard before. If the Dojo Kun in karate did not say “refrain from violent behavior”, I would have punched his face.</p>
<p>I also think <a href="https://write.disqordia.space/changeling/thinking-about-autism-and-humanity">this post</a> by Alice Disqordia is relevant.</p>
<h3 id="example-four">Example Four</h3>
<p>This one’s so bad, I’m giving you a name, an unaliased name: Logan.</p>
<p>I’m not using a made up name. This is his <em>actual</em> name. Lucky for you, scheißkopf, there are enough Logans out there so that you don’t get exposed. Oh, if you’re a friend of him: You too.</p>
<p>These assholes. Every <em>fucking</em> time I came into math, they commented on how &ldquo;hot&rdquo; I was. That’s #1 on the reasons why. I’m aro ace, but also lesbian, and I assert that aggressively. On to #2. They made these same &ldquo;compliments&rdquo; to my friend who wears hijab. Not wearing a hijab, she wears hijab. It means dressing modestly. I do it too, but without the hijab (now I refer to the headscarf). <em>Very</em> inappropriate to do that.</p>
<p>Number 3, they wanted to go out with me. They’ve asked me out on a date, I think, 15 times already. In total. I respond No in a different language each time, with a different insult each time.</p>
<p>Number 4, it doesn’t stop here. They also are in my first period, asking for my Discord because I use element. You shitheads, your dream gets more impossible with each reason.</p>
<p>Number 5, what a surprise. When you bullied me to the tipping point, with all of this, and I said “I don’t trust men” (see previous examples for adding to this evidence).</p>
<p>And you laughed, you <em>fucking laughed</em>. My tablemate asked why? You said “Because Forever hurt my feelings”.</p>
<p>That, especially that. If I had to choose one reason to slap all of you, it’s that. Forget the rest.</p>
<p>How dare you be this way and want a girlfriend. And then say women are the bad ones? Please.</p>
<h2 id="oh-but-its-not-just-straight-men">Oh… but it’s not <em>just</em> straight men.</h2>
<h3 id="example-5-lesbian-straight-women">Example 5: Lesbian-Straight Women</h3>
<p>As in Example 4, they harassed me asking for a “date”. I’m not fucking interested.</p>
<h3 id="example-6-straight-women">Example 6: Straight Women</h3>
<p>Helping the team from Example 4 make me suicidal. Thank goodness it didn’t get that far.</p>
<h2 id="theres-still-more">There’s still more…</h2>
<p>Thanks for staying around.</p>
<p>These aren’t my only problems in this school. That’s just the beginning. I can list more if you want. You do? Okay.</p>
<ul>
<li>I got called a retard for speaking German.</li>
<li>When voicing my story with Example 1 I got called a racist, and even though the person in it is Black, this has nothing to do with race.</li>
<li>I <em>normally</em> get asked for my Discord when I have Element open.</li>
<li>People abandon me in “teamwork” making my grade shit when I work so hard.</li>
</ul>
<p>And some more for Example 4:</p>
<ul>
<li>Said “imagine dying” to someone who’s Grandmother died of covid.</li>
<li>Assosciate with Example 1, who gives the &ldquo;n-word pass&rdquo; and they say it to one another.</li>
</ul>
<p>That’s about it. That’s my rant. Until next time.</p>
</article>
<hr>
<aside aria-labelledby="continuereading">
	<nav aria-labelledby="continuereading">
		<h2 id="continuereading">Continue Reading</h2>
		<ul>
			<li><a href="/blog/observations-of-people-and-gratefulness.html" rel="prev">Previous post: Observations of People and Gratefulness</a></li>
			<li><a href="/blog/make-a-server-for-you-and-your-friends.html" rel="next">Next post: Make a Server for You and your Friends</a></li>
			<li><a href="/blog">Back to Blog</a></li>
	</nav>
</aside>
</span>
{{ include "/footer.html" "musings-from-my-brain" }}