{{ include "/header.html" "Of Isms and Phobias and Other Things" }}
<span class="h-entry">
<h1 id="title" class="p-title">Of Isms and Phobias and Other Things</h1>
<aside><p id="info">263 words, a <time>2&#160;minute</time> read | Made Thursday, May 12, 2022</p></aside>
<article class="e-content"><h3 id="sensitive-article"><em>Sensitive article</em></h3>
<p>To the person
who shoved
a middle finger
in my face
after calling me
a loser and gay:</p>
<p>your heterosexuality
is so fragile
that you turn
to insulting others,
isn’t it?
Try and
reconsider your
life, please.</p>
<p>To the person
who said
to me
&ldquo;Just focus,
it’s that easy&rdquo;:</p>
<p>I would do that
but I just
can’t focus on
anything and
I can’t do
anything about
it, so please
stop.</p>
<p>To the person
who I confided in
and then shared
that knowledge:</p>
<p>I wanted to trust you
but you shared
what’s private
and you violated my trust
ever so badly.</p>
<p>To the person
who always asks
for me to be
their girlfriend:</p>
<p>I’ve repeatedly told you
I’m aromantic
and I’m not interested
so please stop.</p>
<p>To the person
who said I’m a girl
and I can’t do anything:</p>
<p>You’d be able
to do things
if you didn’t spend
so much time
putting down others.</p>
<p>To the person
who keeps repeating
that I’m smart
and above the others:</p>
<p>Every
every
every time,
every time you say that</p>
<p>you alienate me more
from everyone else
so please
just stop.</p>
<p>To the person
who always says
that my grades
have to be good:</p>
<p>I try so hard
but my brain goes away
and then everything
falls
down</p>
<p>and apparently
there’s no forgiveness for that
which makes the cycle
longer</p>
<p>in class I try
but it doesn’t all work
so please
leave some forgiveness</p>
<p>To the person
who’s actually there
and wants to help me:</p>
<p>Thank you,
thank you
so very much,
you are amazing.</p>
</article>
<hr>
<aside aria-labelledby="continuereading">
	<nav aria-labelledby="continuereading">
		<h2 id="continuereading">Continue Reading</h2>
		<ul>
			<li><a href="/blog/a-story-im-writing.html" rel="prev">Previous post: A Story I’m Writing</a></li>
			<li><a href="/blog/making-hugo-blog.html" rel="next">Next post: Making a Hugo Blog</a></li>
			<li><a href="/blog">Back to Blog</a></li>
	</nav>
</aside>
</span>
{{ include "/footer.html" "of-isms-and-phobias-and-other-things" }}