{{ include "/header.html" "On Font Imports" }}
<span class="h-entry">
<h1 id="title" class="p-title">On Font Imports</h1>
<aside><p id="info">355 words, a <time>2&#160;minute</time> read | Made Sunday, May 1, 2022</p></aside>
<article class="e-content"><p>I’ve seen a lot of people discussing why font importing is <em>bad</em>. I don’t think that’s true, for a variety of reasons. Here are my reasons.</p>
<h2 id="fonts-are-tiny">Fonts are tiny</h2>
<p>Inter, with only regular style and Latin and symbols, is an 16KB WOFF2 file. You also need only 5 lines of CSS to make a font available.</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-css" data-lang="css"><span style="display:flex;"><span>@<span style="color:#66d9ef">font-face</span> {
</span></span><span style="display:flex;"><span>    <span style="color:#f92672">font-family</span><span style="color:#f92672">:</span> <span style="color:#f92672">Inter</span><span style="color:#f92672">;</span>
</span></span><span style="display:flex;"><span>    <span style="color:#f92672">src</span><span style="color:#f92672">:</span> <span style="color:#f92672">local</span><span style="color:#f92672">(</span><span style="color:#e6db74">&#34;Inter&#34;</span><span style="color:#f92672">),</span> <span style="color:#f92672">url</span><span style="color:#f92672">(</span><span style="color:#e6db74">&#34;./inter.woff2&#34;</span><span style="color:#f92672">)</span> <span style="color:#f92672">format</span><span style="color:#f92672">(</span><span style="color:#e6db74">&#34;woff2&#34;</span><span style="color:#f92672">);</span>
</span></span><span style="display:flex;"><span>    <span style="color:#f92672">font-display</span><span style="color:#f92672">:</span> <span style="color:#f92672">swap</span><span style="color:#f92672">;</span>
</span></span><span style="display:flex;"><span>}
</span></span></code></pre></div><p>It’s that easy. No extra stuff. And once again, <em>it’s 16KB</em>. And you’re wondering, <em>But that will take <strong>forever</strong> to load!</em> I give you, the next point.</p>
<h2 id="font-display-swap-saves-us-all"><code>font-display: swap</code> saves us all</h2>
<p>In the CSS above, there’s a line that is <code>font-display: swap;</code>, right? This line ensures the page is loaded <em>before</em> the font, and when the font is loaded it will swap it in. So, even if it’s too large, <em>the font loads AFTER the page</em> so your page’s still snappy.</p>
<h2 id="but-i-want-my-custom-font-to-apply-to-all-pages">But I want my custom font to apply to all pages!</h2>
<p>If you’ve invested the tech into getting a custom setup with a custom font and everything, you should also be able to block font files from loading. In fact, there’s even a <a href="https://chrome.google.com/webstore/detail/font-blocker/knpgaobajhnhgkhhoopjepghknapnikl">Font Blocker</a> Chrome extension. It’s so small, it could be reimplemented on basically any browser.</p>
<h2 id="but-why-cant-people-just-not-import-fonts">But… why can’t people just <em>not</em> import fonts?</h2>
<p>Sadly, the defaults in basically <em>all</em> browsers <strong>really suck</strong>. And most people either:</p>
<ul>
<li>Don’t know how to change the defaults</li>
<li>Can’t change the defaults</li>
<li>Can’t install the font that your site looks best in</li>
</ul>
<p>Those people include me. Whenever I go to a site without an imported font, it defaults to Arial (which, for the life of me, I can’t read). And on sites without even a <code>font-family</code> (yes, they exist), it becomes another unreadable font, but this time it’s serif.</p>
<h2 id="phones">Phones…</h2>
<p>Many people use <em>phones</em> for browsing the web. Including me. You <em>can’t</em> choose fonts on phones, mainly because you can’t install them. And they’re stuck with the defaults… so… consider importing fonts to make your phone experience better, hm?</p>
<h2 id="thats-all-for-now">That’s all for now.</h2>
<p>If I find any more points I think fit here, I’ll add them in. Peace!</p>
</article>
<hr>
<aside aria-labelledby="continuereading">
	<nav aria-labelledby="continuereading">
		<h2 id="continuereading">Continue Reading</h2>
		<ul>
			<li><a href="/blog/a-new-orleans-thing-i-guess.html" rel="prev">Previous post: A New Orleans Thing</a></li>
			<li><a href="/blog/the-problem-with-customizations.html" rel="next">Next post: The Problem With Customizations</a></li>
			<li><a href="/blog">Back to Blog</a></li>
	</nav>
</aside>
</span>
{{ include "/footer.html" "on-font-imports" }}