{{ define "main" }}
<h1 id="welcome">Welcome to my blog!</h1>
<p>I write about various things here. You may explore them below.</p>
<dl class="h-feed">
{{ range .Pages.ByDate.Reverse }}
<span class="h-entry">
<dt><h2><a class="p-name u-url" href="{{ .Permalink }}">{{ .Title }}</a></h2></dt>
<dd class="e-content">{{ .WordCount }} words, made on {{ .Date.Format "Mon, Jan 2, 2006" }}</dd>
</span>
{{ end }}
</dl>
<p>Enjoy my blog, and thank you!</p>
{{ end }}
