{{ define "main" }}
<span class="h-entry">
<h1 id="title" class="p-title">{{ .Title }}</h1>
<aside><p id="info">{{ .WordCount }} words, {{ with .ReadingTime -}}
	{{- $displayTime := string . -}}
	{{- if gt . 60 -}}
		{{- $hours := div . 60 -}}
		{{- $minutes := mod . 60 -}}
		{{- $displayTime = (printf "%d&#160;hour and %d" $hours $minutes) | safeHTML -}}
	{{- end -}}
	a <time>{{ $displayTime }}&#160;minute</time> read
{{- end }} | Made {{ .Date.Format "Monday, Jan 2, 2006" }}</p></aside>
<article class="e-content">{{ .Content }}</article>
<hr>
<aside aria-labelledby="continuereading">
	<nav aria-labelledby="continuereading">
		<h2 id="continuereading">Continue Reading</h2>
		<ul>
			{{- with .PrevInSection }}
			<li><a href="{{ .Permalink }}" rel="prev">Previous post: {{ .Title }}</a></li>
			{{- end -}}
			{{- with .NextInSection }}
			<li><a href="{{ .Permalink }}" rel="next">Next post: {{ .Title }}</a></li>
			{{- end }}
			<li><a href="/blog">Back to Blog</a></li>
	</nav>
</aside>
</span>
{{ end }}
