{{ $code := placeholder "http.error.status_code" -}}
{{ $full_text := printf "%s %s" (placeholder "http.error.status_code") (placeholder "http.error.status_text") -}}
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="og:title" content="Fediace">
	<meta name="og:description" content="Fediace is asleep">
	<style>
	
:root {
	--br: 0.4rem;
}
body::after {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000000000;
		width: 100vw;
		height: 100vh;
		pointer-events: none !important;
		background: repeating-linear-gradient(
		0deg,
		rgba(0,0,0,0.25),
		rgba(0,0,0,0.25) 1px,
		transparent 1px,
		transparent 2px
		);
	}

/*
	GoToSocial
	Copyright (C) 2021-2022 GoToSocial Authors admin@gotosocial.org

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@font-face {
	font-family: "Noto Sans";
	font-weight: 400;
	src: url(../NotoSans-Regular.ttf) format('truetype');
}
.emoji {
	height: 1.25em;
	margin: 0;
	margin-bottom: -0.25em;
	width: auto;
	display: inline;
}
@font-face {
	font-family: "Noto Sans";
	font-weight: bold;
	src: url(../NotoSans-Bold.ttf) format('truetype');
}


html, body {
	padding: 0;
	margin: 0;
	background: var(--bg);
	color: var(--fg);
	font-family: monospace;
}

body {
	line-height: 1.5em;
	min-height: 100vh;
	position: relative;
}

.page {
	position: absolute;
	display: grid;
	min-height: 100%;
	min-width: 100%;

	grid-template-columns: 1fr 50% 1fr;
	grid-template-columns: auto min(92%, 90ch) auto;

	grid-template-rows: auto 1fr auto;
}

h1 {
	margin: 0;
	line-height: 2.4rem;
}

a {
	color: var(--link_fg);
	overflow-wrap: break-word;
}

header, footer {
	grid-column: 1 / span 3;
}

.content {
	grid-column: 2;
	align-self: start;
}

main section:first-child {
	border-top: none;
}

header a {
	margin: 2rem;
	/* background: $header_bg; */
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

header a img {
		margin-bottom: 1rem;
		align-self: center;
		height: 6rem;
	}

header a div {
		flex-grow: 1;
		align-self: center;
		display: flex;
	}

header a div h1 {
			align-self: center;
			color: var(--fg);
		}

.excerpt_top {
	margin-top: -1rem;
	margin-bottom: 2rem;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	font-size: 1.2rem;
}

.excerpt_top .count {
		font-weight: bold;
		color: var(--fg_accent);
	}
main.lightgray {
	border-radius: var(--br);
	border: 1px solid var(--fg);
}
main section {
	  border-top: 1px solid var(--fg);
		padding: 2rem;
	}

main p:first-child {
		margin-top: 0;
	}

main p:last-child {
		margin-bottom: 0;
	}

.button, button {
	border-radius: 0.2rem;
	color: var(--button_fg);
	background: var(--button_bg);
	border: var(--button_border);
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 0.5rem;
	text-align: center;
	border: none;
	cursor: pointer;
	font-family: monospace;
}

.button:hover, button:hover {
		background: var(--button_hover_bg);
	}

.nounderline {
	text-decoration: none;
}

.accent {
	color: var(--acc1);
}

.logo {
	justify-self: center;
}

.logo img {
		height: 30vh;
	}

section.apps {
	align-self: start;
}

section.apps .applist {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0;
		align-content: start;
		border-radius: 0.5rem;
	}

section.apps .applist .entry {
			display: grid;
			grid-template-columns: 25% 1fr;
			gap: 1.5rem;
			padding: 0.5rem;
			/*! background: var(--bg_accent); */
			border-radius: 0;
		}

section.apps .applist .entry .logo {
				align-self: center;
				width: 100%;
				-o-object-fit: contain;
				   object-fit: contain;
				flex: 1 1 auto;
			}

section.apps .applist .entry .logo.redraw {
				fill: var(--fg);
				stroke: var(--fg);
			}

section.apps .applist .entry a {
				font-weight: bold;
			}

section.apps .applist .entry div {
				padding: 1rem 0;
			}

section.apps .applist .entry div h3 {
					margin-top: 0;
				}

section.login form {
		display: inline-grid;
		grid-template-columns: auto 100%;
		grid-gap: 0.7rem;
	}

section.login form button {
			place-self: center;
			grid-column: 2;
		}

section.error {
	display: flex;
	flex-direction: row;
	align-items: center;
}

section.error span {
		font-size: 2em;
	}

section.error pre {
		border: 1px solid #ff000080;
		margin-left: 1em;
		padding: 0 0.7em;
		border-radius: 0.5em;
		background-color: #ff000010;
		font-size: 1.3em;
		white-space: pre-wrap;
	}

input, select, textarea {
	border: 1px solid var(--fg);
	color: var(--fg);
	background: var(--bg);
	width: 100%;
	font-family: monospace;
}

footer {
	align-self: end;
	padding: 2rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 100rem;
	margin: 0 auto;
}

footer div {
		padding: 1rem;
		text-align: center;
		flex-grow: 1;
	}

footer a {
		font-weight: bold;
	}

@media screen and (orientation: portrait) {
	.page {
		grid-template-columns: 1fr 92% 1fr;
	}

	header {
		text-align: center;
	}

	footer {
		grid-template-columns: 1fr;
	}

		footer div {
			margin: 0.3rem 0;
		}

	section.apps .applist {
		grid-template-columns: 1fr;
	}
}
img {
	filter: sepia(50%);
}

:root {
	--near_white: #ffffdf;
	--sloth_gray1: #b0b0b5;
	--sloth_gray2: #4d4e56;
	--sloth_orange1: #e78e5a;
	--sloth_orange2: #D87841;
	--blue: #63b1de;
	--sloth_gray2_darker3: hsl(233.33333333333337, 5.5214723926%, 28.9607843137%);
	--sloth_gray2_darker5: hsl(233.33333333333337, 5.5214723926%, 26.9607843137%);
	--sloth_gray2_darker7: hsl(233.33333333333337, 5.5214723926%, 24.9607843137%);
	--sloth_gray2_darker15: hsl(233.33333333333337, 5.5214723926%, 16.9607843137%);
	--sloth_gray2_lighter3: hsl(233.33333333333337, 5.5214723926%, 34.9607843137%);
	--sloth_gray2_lighter5: hsl(233.33333333333337, 5.5214723926%, 36.9607843137%);
	--blue_lighter8: hsl(201.9512195121951, 65.0793650794%, 66.9411764706%);
	--lightblue: hsl(201.9512195121951, 65.0793650794%, 78.9411764706%);
	--fg: #ffffdf;
	--bg: #2e2920;
	--bg_trans: rgba(18, 16, 13, 0.62);
	--bg_accent: #5C5240;
	--fg_accent: #fff5bf;
	--footer_bg: var(--bg_accent);
	--link_fg: var(--fg_accent);
	--button_border: 0.08rem solid var(--bg_accent);
	--button_bg: var(--fg);
	--button_fg: var(--bg);
	--button_hover_bg: var(--fg_accent);
	--status_focus_bg: var(--bg_accent);
	--status_unfocus_bg: #3d362a;
	--status_info_fg: #CBCBD7;
	--boxshadow: 0 0.4rem 1rem -0.1rem rgba(0,0,0,0.15);
	--boxshadow_border: 0.08rem solid #3d362a;
	--profile_avatar_border: 0.2rem solid var(--fg_accent)
}

/*
	GoToSocial
	Copyright (C) 2021-2022 GoToSocial Authors admin@gotosocial.org

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

/*
   This stylesheets defines (color) variables to be used by other stylesheets on the page
   postcss-custom-prop-vars will transpile these to css --variables
*/

/* Color definitions */

/* derivative colors */

/* Color variables as used in a specific location */

	</style>
	
	<link rel="shortcut icon" href="assets/logo.png" type="image/png">
	<title>Fediace - Error {{ $code }}</title>
</head>
<body>
	<div class="page">
		<header>
			<a aria-label="instance homepage" href="https://fedi.aroace.space/" class="nounderline header">
				<img src="assets/logo.png" alt="Instance Logo">
				<div>
					<h1>
						Fediace
					</h1>
				</div>
			</a>
		</header>
		<div class="content">

<main class="lightgray">
	<section>
		<div classname="short-description">
			Fediace is asleep right now, don't bother it! It exited with an error {{ $full_text }}. Forever should find out and fix the error, but if they haven't please contact them with the links below.
		</div>
	</section>
</main>
		
		</div>
		<footer>
			<div id="version">
				<span>
					Error page on <a style="text-decoration: none;" href="https://codeberg.org/foreverxml/fediace">Fediace</a><rp>
				</span>
			</div>
			 
				<div id="contact">
					Contact: <a href="https://matrix.to/#/@forever:the-apothecary.club" class="nounderline">forever</a><br>
				</div>
			
			 
				<div id="email">
					Email: <a href="mailto:fedi@aroace.space" class="nounderline">fedi@aroace.space</a><br>
				</div>
			
		</footer>
	</div>
	



</body></html>
